#### 파이썬 이란
- 1990년 암스테르담의 귀도 반 로섬(Guido Van Rossum)이 개발한 인터프리터 언어
- 컴퓨터 프로그래밍 교육을 위해 많이 사용하지만, 기업의 실무를 위해서도 많이 사용하는 언어. 구글에서 만든 소프트웨어의 50%이상이 파이썬으로 작성

#### 파이썬의 특징
- 파이썬은 인간다운 언어이다
- 파이썬은 문법이 쉬워 빠르게 배울 수 있다
- 파이썬은 무료이지만 강력하다
- 파이썬은 간결하다
- 파이썬은 프로그래밍을 즐기게 해준다
- 파이썬은 개발 속도가 빠르다
#### 파이썬으로 할 수 있는 일
- 웹 개발: Django, Flask 등의 프레임워크를 사용하여 웹 애플리케이션을 개발할 수 있습니다.
- 데이터 분석: Pandas, NumPy, SciPy와 같은 라이브러리를 사용하여 데이터를 분석하고 처리할 수 있습니다.
- 머신 러닝과 인공지능: TensorFlow, PyTorch, Scikit-learn 등의 라이브러리를 활용하여 머신 러닝 모델을 구축하고 훈련시킬 수 있습니다.
- 자동화: 파이썬 스크립트를 작성하여 일상적인 작업을 자동화하고, 시스템 관리 작업을 수행할 수 있습니다.
- 게임 개발: Pygame과 같은 라이브러리를 사용하여 간단한 게임을 개발할 수 있습니다.
- 모바일 애플리케이션 개발: Kivy 또는 BeeWare와 같은 라이브러리를 사용하여 모바일 애플리케이션을 개발할 수 있습니다.
- 데스크탑 애플리케이션 개발: PyQt, Tkinter 등의 라이브러리를 활용하여 데스크탑 애플리케이션을 개발할 수 있습니다.
- 시스템 스크립팅과 네트워킹: 시스템 유틸리티를 개발하거나 네트워크 프로토콜을 구현할 수 있습니다.
- 임베디드 시스템과 하드웨어 제어: 라즈베리 파이와 같은 임베디드 시스템을 제어하고 하드웨어를 프로그래밍할 수 있습니다.
- 사이언티픽 컴퓨팅: 과학적 연산과 시뮬레이션을 위해 파이썬을 활용할 수 있습니다.
- 교육: 파이썬은 초보자에게 프로그래밍을 가르치는 데 이상적인 언어로 평가받고 있습니다.
- 파이썬의 다양한 라이브러리와 프레임워크 덕분에, 이러한 분야에서의 작업이 더욱 쉽고 효율적으로 수행될 수 있습니다.

In [ ]:
1 # ! 기호는  colab 셀에서 Unix/Linux 셀에서 실행
!Python -- version

/bin/bash: line 1: Python: command not found

#### 용어
- 식별자 : 프로그램밍 언어에서 이름을 붙일 때 사용하는 단어. 주로 변수 또는 함수 이름 등으로 사용
- 주석 : 프로그램을 설명하기 위해 사용. # 기호로 주석 처리
- 연산자 : 스스로 값이 되는 것이 아니고 값과 값 사이에 무언가 기능을 적용할 때 사용
- 자료 : 리터럴이라고 하는데 숫자이든 문자이든 어떠한 값 자체를 의미. 1, 10, "Hello"
- 키워드 : 파이썬이 만들어질 때 이미 사용하겠다고 예약해 놓는 것. False, None, True, ...
- 프로그램밍 언어에서 사용자가 이름을 정할 때 키워드는 사용할 수 없음
#### 식별자
count, user_name, _is_valid, calculate_area, Car, model, year, math 및 m 모두 유효한 식별자. 각각의 식별자는 특정한 데이터 또는 기능에 이름을 부여하여 코드 내에서 해당 데이터나 기능을 참조할 수 있게하며 코드의 가독성과 유지 보수성을 높이는 데 중요한 역할

##식별자 기본 규칙
- 키워드를 사용하면 안된다
- 특수문자는 언더바(_)만 사용
- 숫자로 시작하면 안된다
- 공백을 포함 할 수 없다

#### 자료형
- 자료형 또는 데이터 타입이란 숫자, 문자 등과 같이 여러 종류의 데이터를 구분하기 위한 분류
- 파이썬의 자료형은 크게 숫자(numbers), 시퀀스(sequence), 매핑(mapping) 등으로 나눌 수 있다.
- 파이썬의 기본 자료형
  - 수치형
    - 정수형 : int는 정수(integer)를 나타낸다. 양의 정수와 음의 정수, 숫자 0
    - 실수형 : float는 원래 부동소수점수(floating-point number)를 가리키는데, 지금은 단순히 소수점 이하를 표현할 수 있는 수이다.
    - 복소수형 : 복소수를 complex로 나타내고 제곱하면 -1이 되는 수 i를 ‘허수(imaginary number)’라고 하는데 허수 i를 j로 표현
  - 시퀀스 : 문자열(str), 리스트(list), 튜플(tuple), 사용자 정의 클래스가 시퀀스에 속한다. for 문에서 사용할 수 있는 것들이 바로 시퀀스
    - 문자열 : 문자를 한 줄로 표현하며 문자열 인덱스를 이용해 문자열의 일부를 복사
    - 리스트 : 대괄호([ ])로 감싸 주고 각 요솟값은 쉼표(,)로 구분
    - 튜플 : 튜플은 ( )으로 둘러싸고 각 요솟값은 쉼표(,)로 구분
  - 매핑
    - 사전 : 딕셔너리(dict)는 키(key)와 값(value)의 짝으로 이뤄지는데 이런 것을 매핑
  - 집합 : 집합을 표현하는 세트(set)
  - 블린 : 참, 거짓을 표현

#### sort 와 sorted 차이점

1. 메서드 vs 함수:
- sort(): 리스트 객체의 내장 메서드입니다. 즉, 리스트에서만 사용할 수 있습니다.
- sorted(): 내장 함수로, 어떤 반복 가능한(iterable) 객체에도 사용될 수 있습니다. 예를 들면 리스트, 튜플, 딕셔너리, 문자열 등에 사용할 수 있습니다.

2. 반환 값:
- sort(): 리스트를 원 위치에서(in-place) 정렬하고 None을 반환합니다. 따라서 원래의 리스트 자체가 변경됩니다.
- sorted(): 정렬된 새로운 리스트를 반환합니다. 원래의 객체는 변경되지 않습니다.

3. 유용성:
- sort(): 리스트에서만 작동하기 때문에 리스트만 정렬할 수 있습니다.
- sorted(): 다양한 객체를 정렬할 수 있으며 결과는 항상 리스트로 반환됩니다.

In [ ]:
# 정수형 , 실수형
i1 = 3
f1 = 3.5
print(i1)
print(f1)

3
3.5

In [ ]:
# 정수
print(int(True))
print(int(False))
print(int("100"))
print(int(3.14))

1
0
100
3

In [ ]:
# 실수
print(float(True))
print(float(False))
print(float("100"))
print(float(3.14))

1.0
0.0
100.0
3.14

In [ ]:
print(int(True))
print(int(False))
print(int("100"))
print(int(3.14))

print(float(True))
print(float(False))
print(float("100"))
print(float(3.14))

1
0
100
3
1.0
0.0
100.0
3.14

In [ ]:
# 사칙연산 : + , * , / , // , % , **

a = 10
b = 2.3
print(a + b)
print(a*b)
print(a / b)
print(a // b)
print(a % b)
print(a ** b)

12.3
23.0
4.347826086956522
4.0
0.8000000000000007
199.52623149688787

In [ ]:
# 문자열
string = '문자열'
a = "100"

print(string)
print(a)

문자열
100

In [ ]:
a = 100
b = 50
print(a + b)
a = "100"
b = "50"
print(a + b)

150
10050

In [ ]:
a = "100"
b = "50"
print(int(a + b))
print(float(a + b))

10050
10050.0

In [ ]:
a = 40
b = 50
print(a + b)
a = "40"
b = "50"
print(a + b)

90
4050

In [ ]:
a = "100"
b = "50"
print(int(a))
print(int(b))
print(a)
print(b)
print(int(a+b))

100
50
100
50
10050

In [ ]:
a = "1000"
b = "500"
print(int(a))
print(int(b))
print(int(a + b))

1000
500
1000500

In [ ]:
input("인사말을 입력하세요")

KeyboardInterrupt: Interrupted by user

In [ ]:
print(input())

In [ ]:
# input() 함수는 입력받은 데이터를 string으로 처리한다
a = input()
b = input()
print(a + b)

In [ ]:
num1 = int(input("첫 번째 숫자"))
num2 = int(input("두 번째 숫자"))

print(num1 + num2)

In [ ]:
num1 = int(input())
num2 = int(input())
print( num1 + num2)

In [ ]:
n1 = int(input())
n2 = int(input())
print(int(n1 + n2))

In [ ]:
num1 = float(input())
num2 = float(input())
print( num1 + num2)

In [ ]:
num1 = float(input())
num2 = float(input())

print(num1 + num2)

In [ ]:
n1 = float(input())
n2 = float(input())
print(float(n1 + n2))

In [ ]:
# 실수 + 실수 -> 실수
#3과 3.3을 입력하고 숫자 연산을 수행하여 6.3을 출력하세요

a = 3
b = 3.3

print(float(a))
print(float(b))
print(a + b)

In [ ]:
a1 = 3
b1 = 3.3
print(float(a1))
print(float(b1))
print(a1 +b1)

In [ ]:
a = float(input())
b = float(input())
print(a + b)

In [ ]:
a = float(input())
b = float(input())
print(a +b)

a = 3
b = 3.3
print(float(a))
print(float(b))
print(a+b)

In [ ]:
a = float(input())
b = float(input())
print(a + b)

In [ ]:
#   Q. a = 52와 b = 52.273일때 a + b 는 5252.273으로 출력되도록 a 와 b 를 문자열 자료형으로 변환하세요.

a = 52
b = 5252.273
a = str(a)
b= str(b)
print(a + b)

In [ ]:
# 문자열 : "" , '' , """ """ , ''' '''
# p1 = 'python's value is great'
p1 = "python's value is great"
print(p1)

In [ ]:
# 백슬래시 (w) 는 문자열 안에서 작은따옴표(')를 문자열의 끝을 의미하지 않는 일반 문자로 포함시키기 위해 사용
# 이 기술을 이스케이프라고 한다
p1 = 'python\'s value is great'
print(p1)

In [ ]:
# \n 행 바꿈
# y1 = "Once you study date analysis you Python"
y1 =  "Once you study date analysis\nyou Python"
print(y1)

In [ ]:
y2 = '''
Once you study data analysis
you need Python
'''

y3 = """
Once you study data analysis
you need Python
"""
print(y2)
print(y3)

In [ ]:
a1 = 'Python'
a2 = ' is easy to learn'
print( a1 + a2)
print("=" * 23)

In [ ]:
# Q. 아래와 같이 출력할 수 있는 string을 만드세요

"what a wonderful world!"

a1 = "what"
a2 = " a wonderful world!"
print(a1 + a2)

string = '''
"what a wonderful world!"
he said loudly
'''
print(string)

In [ ]:
# Q. 아래와 같이 출력할 수 있는 string을 만드세요

# "he said loudly"

string = '''
he said loudly
'''
print(string)

In [ ]:
# Q. 다른 타입의 숫자 2개를 입력받아 큰 수를 출력하세요

n1 = int(input())
n2 = int(input())

if n1 > n2:
    print(n1)

elif n1 < n2:
    print(n2)

else:

    print("큰수가 없습니다.")

# 자료형 - List
- 리스트는

In [ ]:

list1 = [1,2,3,4,5]
list2 = ['a' , 'b' , 'c' , 'd']
list3 = [1, 'a' , 'abc' , [1,2,3,4,5], ['a' , 'b' , 'c']]
print(list1)
print(list2)
print(list3)

In [ ]:
# 인덱싱

list1 = [1,2,3,4,5]

print(list1[2])
print(list1[0:2])
print(list1[:4])

In [ ]:
list3 = [1, 'a', 'abc', [1, 2, 3, 4, 5], ['a', 'b', 'c']]

print(list3[3][2])
print(list3[4][0])

In [ ]:
# 리스트 수정 , 삭제

a = [0,1,2,3,4,5,6,7,8,9,]
b = ['a' , 'b' , 'c']
a[0] = 1
print(a)
b[1] = 'a'
print(b)
del a[0]
print(a)
del b[1]
print(b)

In [ ]:
# 끝에서 부터 인덱싱 : -1

a = [0,1,2,3,4,5,6,7,8,9]
b = ['a' , 'b' , 'c']
print(a[-2])
print(a[-4:])
print(a[-10:-1])
print(a[-9:])

In [ ]:
# 리스트 확장

h = [1,2,3]
h.extend([4,5]) # 반복 가능한 객체의 모든 요소를 리스트에 추가
print(h)
h.append(6) # 단일 객체를 추가
print(h)
h.insert(0,5)
print(h)

Q. list1에서 다음을 수행하세요
- 33을 출력
- 82를 리스트에 추가
- 87의 인덱스 구하기 - 도전
- 인덱스 3에서 10까지의 값을 출력하고 list2에 저장한 후 내림차순 정렬하기 - 도전
- 39를 11로 변경
- [69,45,58] 출력
- 짝수 인덱스의 값으로 구성된 리스트 출력하기
- 인덱스가 가장 큰수를 삭제하기
- 인덱스 3, 5인 값으로 4칙 연산하기

list1 = [58, 45, 69, 19,  4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]

In [ ]:
list1 = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]

print(list1[11][1])
list1.append(82)

In [ ]:
#=======================================================================================
list1 = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]

print(list1[11][1],'\n')
list1.append(82)
print(list1.index(87),'\n')
list2 = list1[3:11]
list2.sort(reverse=True)
print(list2,'\n')
list1[8] = 11
print(list1[2::-1],'\n')
print(list1[0::2],'\n')
del list1[-1]
print(list1,'\n')

In [ ]:
list1 = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]

print(list1,'\n')
print(list1[6::-1])
print(list1[6::2])
print(list1[6::-2])
print(list1[::-1])
print(list1[:3])

In [ ]:
# sort()

my_list = [3,1,2]
my_list.sort()
print(my_list)

# sorted

my_tuple = (3,1,2)
new_list = sorted(my_tuple)
print(my_tuple)
print(new_list)

In [ ]:
my_list = [6,8,1,5,3,4]
my_list.sort()
print(my_list)

In [ ]:
my_list = [3,1,2]
my_list.sort()
print(my_list)

my_tuple = [3,1,2]
new_list = sorted(my_tuple)
print(my_tuple)
print(new_list)

In [ ]:
my_list = [3,1,2]
my_list.sort()
print(my_list)

In [ ]:
list = [5,6,9,7,8]
new_list = list.sort()
print(list)
print(new_list)

list = [4,3,6,7,1]
new_list = list.sort()
print(list)
print(new_list)

list = [8,4,6,2,5]
new_list = list.sort()
print(list)
print(new_list)

In [ ]:
my_tuple = [5,3,1,7,9]
new_list = sorted(my_tuple)
print(my_tuple)
print(new_list)

In [ ]:
list = [5,6,9,7,8]
new_list = sorted(list)
print(list)
print(new_list)

list = [1,4,2,6]
new_list = sorted(list)
print(list)
print(new_list)

list = [5,6,9,7,8]
new_list = sorted(list)
print(new_list)

In [ ]:
list1 = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
list2 = list[3:11]
list_sort = sorted(list2,reverse = True)
list_sort

In [ ]:
list3 = list1[3:11]
list3.sort(reverse = True)
print(list3)

In [ ]:
import keyword
print(keyword.kwlist, 'wn')
len(keyword.kwlist)/

파이썬은 snake_case 와 CamelCase를 모두 사용

- itemlist: item_list itemList
- loginstatus : login_status loginStatus
- 캐멀 케이스(대문자로 시작)클래스
- 스네이크 케이스(소문자로 시작)뒤에 ()가 있다 - 함수
- 스네이크 케이스(소문자로 시작)뒤에 ()가 없다 - 변수

In [ ]:
1 alpha
2 break # 키워드
3 alpha10
4 _alpha
5 273alpha # 숫자
6 Alpha
7 ALPHA
8 has space # 공백

In [ ]:
1 # !기호는 Colab 셀에서 Unix / Linux 셀 명령어를 실행
!python --version

In [ ]:
1 # % 기호는 IPyhon 환경( 즉 , Colab이 포함된 Jupyter 환경) 에서 제공하는 매직명령어를 사용
2 # 현재폴더 확인

In [ ]:
1. %%time
2. # 간단한 for 루프를 사용한 계산
3. sum = 0
4. for i in range(100000):
5. sum += i
6. print(sum)
7.

In [ ]:
1 # 연산자
2 a = 5
3 b = 3
4 c = b % a
5 d = b // a
6 e = b / a
7 print(c)
8 print(d)
9 print(e)

In [ ]:
a = 1
b = 2
c = a + b
print(c)

In [ ]:
a = 3
b = 5

if a > b :
    print(a)

In [ ]:
1 # 변수 식별자
2 count = 10
3 user_name = "Alice"
4 _is_Valid = True
5
6 # 함수 식별자
7 def calculate_area(radius):
8     return 3.14159 * radius * radius
9
10 # 클래스 식별자
11 class Car:
12    def _init_(self , model,year):
13           self.midel = model
14           self.year = year
15
16 # 모듈 식별자
17 import mate as m
18

Q. 주어진 문자열 리스트에서 유효한 Python 변수 이름만을 추출하여 반환하는 함수를
작성하세요

In [ ]:
1 identifier = ["var1" , "2things" , "variable_name" , "time!"]

In [ ]:
1 # isidentifier()는 파이썬의 문자열 메서드로, 주어진 문자열이 유효한 식별자인지 확인
2 # isidentifiers()는 예약어인지는 따로 체크하지 않음
3 import keyword
4 def valid_identifiers(identifiers):
5    valid = []
6    for identifiers in identifiers:
7        if identifiers .is identifiers() and not keyword. iskeyword(identifiers):
8            valid.append(identifier)
9    return valid
10
11 # 예제 실행
12 identifiers = [ "var1" , "2things" , "variable_name" , "time!" , "True"]
13 print(valid_identifiers(identifiers))

Task1_0425. 주어진 숫자 리스트에서 최소값과 최대값을 찾아 출력하세요.

numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]

In [ ]:
numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]

max_num = max(numbers)
print(max_num)

min_num = min(numbers)
print(min_num)

In [ ]:
print(f"최대값 : {max_num} , 최소값 : {min_num}")

In [ ]:
numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]

# 최대값과 최소값을 첫 번째 요소로 초기화 합니다

max_num = numbers[0]
min_num = numbers[0]

# 리스트의 모든 요소를 순회합니다

for i in numbers:
    # 현재 요소가 현재 최대값보다 크면 최대값을 갱신합니다
    if i > max_num:
      max_num = i
    # 현재 요소가 현자 최소값보다 작으면 최소값을 갱신한다
for i in numbers:
    if i < min_num:
      min_num = i
print(f"최대값:{max_num} , 최소값:{min_num}")

Task2_0425. 주어진 숫자 리스트의 모든 요소의 합계와 평균을 계산하고 출력하세요

numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]

In [ ]:
numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]

total = sum(numbers)
print(total)

In [ ]:
# 리스트 정의
numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]

# 합계 계산
total = sum(numbers)

# 평균계산
average = total / len(numbers)

# 결과 출력
print(f"합계: {total} , 평균: {average}")

In [ ]:
# 파이썬에서 평균을 구하는 내장함수는 없음
import numpy as np
numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]
print(f"합계:{sum(numbers)}, 평균:{np.mean(numbers)}")

In [ ]:
import statistics
numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]
average = statistics.mean(numbers)
print(f"평균:{average}")

Task3_0425. 주어진 리스트에서 특정 요소가 등장하는 모든 인덱스를 리스트로 만들어 출력하세요.

items = ['apple', 'banana', 'cherry', 'apple', 'cherry', 'apple']

target = 'apple'

In [ ]:
# 리스트 정의
items = ['apple', 'banana', 'cherry', 'apple', 'cherry', 'apple']

# 찾을 요소
target = 'apple'

# 인덱스 찾기
index = [index for index , value in enumerate(items) if value == target]

# 결과 출력
print(f"'{target}'의 모든 인덱스:{index}")

Task4_0425. 주어진 리스트에서 연속해서 반복되는 요소만 제거하고, 결과 리스트를 반환하세요. 단, 처음 등장하는 요소는 유지해야 합니다.

예를 들어, ['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']가 입력되면, ['a', 'b', 'c', 'd', 'e']를 출력해야 합니다.

In [ ]:
 li = ['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']
 result = [li[0]]
 for i in li[1:]:
     if i != result[-1]:
         result.append(i)
print(result)

Task5_0425 주어진 정수 리스트와 회전 횟수 k에 대해 리스트를 오른쪽으로 k만큼 회전시킨 결과를 반환하세요. k가 리스트의 길이보다 클 수 있으며, 이 경우 k를 리스트 길이로 나눈 나머지만큼 실제 회전시키면 됩니다.

예를 들어, [1, 2, 3, 4, 5]와 k=2가 주어지면, 결과는 [4, 5, 1, 2, 3]이 되어야 합니다.

In [ ]:
def rotate_list(nums, k):
    if not nums:
        return nums
    # 회전 홧수를 리스트 길이로 나눈 나머지로 계산
    k = k % len(nums)
    # 리스트의 끝부분을 앞으로, 앞부분을 끝으로 옮김
    rotated = nums[-k:] + nums[:-k]
    return rotated

    # 리스트 정의
nums = [1,2,3,4,5]
k = 2

    # 결과 출력
print(rotate_list(nums , k))

자료형 - Tuple

- 튜플은 변경할 수 없는(immutable) 순서가 있는 컬렉션
- 프로그램에서 그 값이 항상 변하지 않아야되는 경우 사용

In [ ]:
tuple1 = (1,2,3,4,5)
tulpe2 = ('a' 'b' 'c')
tuple3 = (1,'a' , 'abc' , [1,2,3,4,5] , ['a' , 'b' , 'c'])

print(tuple1[:])
print(tuple1[2])
tuple3[3][2]

In [ ]:
list = [1,2,3,4,5]
list[0] = 0
list

In [ ]:
# 튜플의 요소 값은 변경할 수 없음
tuple = (1,2,3,4,5)
tuple[0] = 0
tuple

In [ ]:
t1 = (1,) # 1개의 요소만 가질 때는 요소 뒤에 콤마를 붙여야함
print(t1)
type(t1)

In [ ]:
t1 = (1)
print(t1)
type(t1)

In [ ]:
t2 = 1,2,3
print(t2)
type(t2)

In [ ]:
print(t2 * 3)
t1 + t2

Q . 'red' , 'green' , 'blue' 값을 갖는 튜플에서 각 값을 각각  r,g.b 변수에 할당하고 출력하세요

In [ ]:
colors = ('red' , 'green' , 'blue')
r , g , b = colors
print(r)
print(g)
print(b)

In [ ]:
colors = ('red' , 'green' ,'blue')
r,g,b = colors
print(r)
print(g)
print(b)
print(r,g,b)

- 함수에서 여러 값을 반환할 때 튜플을 사용하는 것이 일반적입니다.
Q . 주어진 리스트의 총합과 평균을 동시에 반환하는 함수를 작성하세요.
numbers = [10,20,30,40,50]

In [ ]:
def calculate_sum_and_average(numbers):

    total = sum(numbers)
    average = total / len(numbers)
    return(total , average) # 튜플로 총합과 평균 반환

numbers = [10,20,30,40,50]
total , average = calculate_sum_and_average(numbers)
# print("총합:" , total, "평균:" , average)
print(f"총합:{total} , 평균:{average}")

In [ ]:
numbers = [10,20,30,40,50]
total = sum(numbers)
average = total / len(numbers)
print(f"총합:{total}, 평균:{average}")

## 자료형 - 사전
- 키와 값을 하나의 요소로 하는 순서가 없는 집합

In [ ]:
d1 = {'a':1 , 'b':2 , 'c':3}
print(d1['a'])

In [ ]:
d1.keys()

In [ ]:
d1.values()

In [ ]:
d1.items()

In [ ]:
d1['d'] = 4
d1

In [ ]:
d1['b'] = 7
d1

In [ ]:
del d1['b']
d1

In [ ]:
s1 = ('a': 1 , 'b': 2 , 'c': 3 , 'd': 4)

Q . 딕셔너리 d에서 'b'의 값을 확인하면서 그 값을 삭제하세요

In [ ]:
# pop 함수는
d = {'a': 1 , 'b': 7 , 'c' : 3 , 'd': 4}
value = d.pop('b')
print("삭제 값: ", value)
print(d)

Q . 다음과 같이 학생의 이름과 점수를 튜플로 묶은 리스트가 있습니다 : [("Tom",85),("Jane",90),("Bob",75)] 이 리스트를 사용해 학생 이름을 키로, 점수를 값으로 하는 딕셔너리를 생성하고 출력하세요

In [ ]:
students = [("Tom",85),("Jane",90),("Bob",75)]
student_dict = dict(students)
print(student_dict)

Q . 튜플의 불변성 때문에 튜플은 딕셔너리의 키로 사용될수 있습니다. 주어진 위치 좌표 리스트에서 각 위치가 몇 번 나타나는지 딕셔너리를 만드세요,

 # 지료형 - 집합 , set

 - 중복을 허용하지 않으며 순서가 없다

In [1]:
s1 = set([1,2,5,4,3])
s2 = set('Hello')
print(s1)
print(s2)

{1, 2, 3, 4, 5}
{'H', 'o', 'e', 'l'}

In [2]:
l1 = list(s1)
print(l1)
print(l1[1])

[1, 2, 3, 4, 5]
2

In [3]:
l2 = list(s2)
print(l2)
print(l2[2])

['H', 'o', 'e', 'l']
e

Q . 주어진 리스트에서 중복 요소를 제거하고 결과를 출력하세요
- nums = [1,2,2,3,4,4,4,5]

In [ ]:
nums = [1,2,2,3,4,4,4,5]
m1 = set(nums)
print(m1)

{1, 2, 3, 4, 5}

Q . s1 , s2 의 합집합과 교집합을 각각 리스트로 출력하세요
- s1 = set[1,2,3,4,5,6]
- s2 = set[4,5,6,7,8,9]

In [4]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
print(list(s1 | s2)) # 합집합
print(list(s1 & s2)) # 교집합

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[4, 5, 6]

In [12]:
a = 1,4,5,6,7
b = 2,5,6,7,8
a1 = set(a)
b1 = set(b)
print(list(a1 | b1))
print(list(a1 & b1))

[1, 2, 4, 5, 6, 7, 8]
[5, 6, 7]

In [ ]:
a = 1,2,3,4,5
b = 4,5,6,7,8
a1 = (set(a))
b1 = (set(b))
print(list(a1 | b1))
print(list(a1 & b1))

Q . 첫번째 집합에서 두번째 집합의 요소를 제외한 차집합을 구하고  출력하세요
- set1 = {1,2,3,4,5}
- set2 = {4,5,6,7}

In [14]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7}
print(list(set1 - set2))

[1, 2, 3]

Task1_0426. 주어진 리스트에서 중복된 요소를 제외하고 고유한 요소의 개수를 세는 프로그램을 작성하세요

- data = [1,2,2,3,4,4,4,5]

In [15]:
data = [1,2,2,3,4,4,4,5]
data1 = set(data)
print(data1)
print(len(data1))

{1, 2, 3, 4, 5}
5

Task2_0426. 두 개의 리스트에서 공통으로 나타나는 요소들을 찾아 리스트로 반환하는 프로그램을 작성하세요.

예시 입력: list1 = [1, 2, 3, 4, 5], list2 = [4, 5, 6, 7, 8]

예시 출력: [4, 5]

In [33]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
l1 = set(list1)
l2 = set(list2)
print(list(l1 & l2))

[4, 5]

Task3_0426. 주어진 숫자 리스트에서 특정 값보다 큰 요소가 하나라도 존재하는지 검사하고, 그 결과를 불 값으로 반환하는 함수를 작성하세요.

- numbers = [1, 2, 3, 10, 20]
- threshold = 15

In [ ]:
numbers = [1, 2, 3, 10, 20]
threshold = 15

Task4_0426. 주어진 문자열이 특정 문자열을 포함하는지 확인하고 결과를 불 값으로 반환하는 함수를 작성하세요.

- text = "hello world"
- substring = "world"

Task5_0426. 주어진 연도가 윤년인지 판별하는 함수를 작성하세요. 윤년은 다음의 조건을 만족해야 합니다:
- 4로 나누어 떨어진다.
- 100으로 나누어 떨어지지 않거나, 400으로 나누어 떨어지면 윤년이다.

year = 2020

True

Task6_0426. Calculator 클래스를 작성하고 4칙연산을 수행하는 객체 4개를 작성하여 결과를 출력하세요.

Task7_0426. 다음 과제를 수행하세요.
- 사용자로 부터 텍스트를 입력 받는다.
- 문자을 단어 단위로 분리 : split()
- 단어의 빈도수를 저장할 딕셔너리를 생성
- 각 단어의 빈도 수를 계산(for 문 / if else문) : word = word.lower()
- 결과 출력

[ 예시 ]

문장을 입력하세요: I love apple. I love orange. Apple is tasty

{'i': 2, 'love': 2, 'apple.': 1, 'orange.': 1, 'apple': 1, 'is': 1, 'tasty': 1}

# 자료형 - 논리(Bool) True 와 False

- 파이썬에서 참과 거짓을 나타내는 상수. True는 1 , False는 0의 값을 가짐
- 조건을 판단해서 그 조건이 참이면 True , 거짓이면 False를 return

In [ ]:
print(bool(0))
print(bool(''))
print(bool([]))
print(bool(1))
print(bool(100))

#  아스키 코드
- ASCII 값에서 'a' 는 97이고 'p'는 112입니다. 'a'는 'p'보다 작으므로 str1 < str2 는 True를 반환

In [ ]:
# 관계 연산자
x = 1 ; y = 2
str1 = 'abc' ; str2 = 'python'
print(x == y)
print(x != y)
print(str1 == str2)
print(str2 == 'python')
print(str1 < str2)

In [ ]:
# 논리 연산자

bool1 = True ; bool2 = False ; bool3 = True ; bool4 = False
print(bool1 and bool2)
print(bool1 or bool2)
print(not bool3)
print(not bool4)
print()

# 파이썬에서 들여쓰기
- 파이썬에는 실행 코드 부분을 묶어주는 {} 괄호가 없다.
- 대신 들여쓰기(indentation)로 {}를 대신한다.
- 제어문이나 함수이름, 클래스 이름 뒤에 콜론(':')으로 제어문, 함수이름, 클래스
이름의 끝을 표시하며 ':' 다음에 실행 코드를 작성

In [ ]:
list = ['a' ,'b' , 'c']
if 'a' in list:
    print('a 가 list에 있습니다')
else:
    print('a 가 list에 없습니다')

In [ ]:
list = [1,2,3,4,5]
if 6 in list:
    print('리스트에 있습니다')
else:
    print('리스트에 없습니다')

# 사용자 함수

In [ ]:
numbers = [1,2,3]
sum(numbers) # 파이썬 내장함수

In [ ]:
# 사용자 함수

def add(a,b,c):
    return a + b + c

add(1,2,3)

In [ ]:
def mul(a,b,c):
    return a * b * c

mul(4,7,9)

Q . 뺄셈, 나눗셈을 수행하는 사용자 함수를 작성하세요

In [ ]:
def subtrack(a,b,c):
    return a - b - c

subtrack(9,5,2)

In [ ]:
def divide(a,b,c):
    if b == 0 or c == 0:
        return "Error : Division by zero"
    else:
        return a / b / c

round(divide(1,2,3),2)   # round : 올림  ,2 소수점 둘째 자리

# 클래스

In [ ]:
def divide(a,b,c):
    if b == 3 or c == 1:
        return "Error"
    else:
        return a / b / c
round(divide(8,6,2),3)

In [ ]:
class AddMul:
    def add(self,n1,n2):
        return n1 + n2
    def mul(self,n1,n2):
        return n1 * n2

obj1 = AddMul() # 객체
print(obj1.add(1,1))

obj2 = AddMul()
print(obj2.mul(2,3))

In [ ]:
class AddMul:
    def add(self,n1,n2):
        return n1 + n2

    def mul(self,n1,n2):
        return n1 * n2

obj1 = AddMul()
print(obj1.add(1,1))

obj2 = AddMul()
print(obj2.add(3,1))