Task1_0507. 튜플 형태인 strings를 다양한 문자가 포함된 순서로 정렬하세요

strings = ('a','ca', 'bar', 'aaaa', 'ababa')

In [ ]:
strings = ('a','ca', 'bar', 'aaaa', 'ababa')

sorted_strings = sorted(strings , key = lambda x : len(set(x)) , reverse = True)
print(sorted_strings)

In [ ]:
# 문제 해결 2

strings = ('a','ca', 'bar', 'aaaa', 'ababa')

strings = list(strings)
strings.sort(key = lambda x : len(set(x)) , reverse = True)
print(list(strings))

task2_0507. eval 함수를 활용하여 a,b 변수와 연산자를 입력하면 사칙연산을 수행하는 코드를 작성하세요

In [ ]:
a = 3
b = 5

print(eval(input("사칙연산을 입력하세요")))

In [ ]:
# eval 을 사용하는 경우

num = input()
print(type(num))
result = eval(num)
print(result)

In [ ]:
# eval 을 사용하지 않는 경우

num = input("연산 : ")
maths = ['+' , '-' , '/' , '*']
math = {'+': lambda a,b : a+b , '-': lambda a,b : a-b , '/': lambda a,b : a/b , '*': lambda a,b : a*b}

num_list = list(num)
for i in num_list:
    if i in maths:
        num = num.split(i)
        print(math[i](int(num[0]), int(num[1])))

Task3_0507. list1에 대해서 아래와 같이 출력하는 코드를 작성하세요.

인사평가 1번째 해당자는 김부장입니다. 회의실A로 오시기 바랍니다.
인사평가 2번째 해당자는 이차장입니다. 회의실A로 오시기 바랍니다.
인사평가 3번째 해당자는 김과장입니다. 회의실A로 오시기 바랍니다.
인사평가 4번째 해당자는 이대리입니다. 회의실A로 오시기 바랍니다.
인사평가 5번째 해당자는 오사원입니다. 회의실A로 오시기 바랍니다.
인사평가 6번째 해당자는 김인턴입니다. 회의실A로 오시기 바랍니다.

In [ ]:
list1 = ['김부장','이차장', '김과장','이대리', '오사원', '김인턴']

for i , j in enumerate(list1):
    print(f'인사평가{i+1}번째 해당자는 {j}입니다.회의실A로 오시기 바랍니다.')

In [ ]:
list1 = ['김부장','이차장', '김과장','이대리', '오사원', '김인턴']

for index , name in enumerate(list1):
    print(f"인사평가 {index+1}번째 해당자는 {name}입니다. 회의실A로 오시기 바랍니다.")

Task4_0507. 주어진 문자열 리스트의 요소들을 대문자로 변환하세요. words = ["hello", "world", "python", "map"]

In [ ]:
# 요소를 이용

words = ["hello", "world", "python", "map"]
upper_words = []

for i in words:
    upper_words.append(i .upper())
print(upper_words)

In [ ]:
# 요소를 이용
words = ["hello", "world", "python", "map"]
result = []

for word in words:
    result.append(word.upper())
print(result)

In [ ]:
# 인덱스를 이용
words = ["hello", "world", "python", "map"]

for i in range(len(words)):
    words[i] = words[i].upper()
print(words)

In [ ]:
words = ["hello", "world", "python", "map"]

print([i.upper() for i in words])
print(list(i.upper() for i in words))

In [ ]:
# str.upper는 문자열의 모든 문자를 대문자로 변환하는 메서드

words = ["hello", "world", "python", "map"]
upper_words = list(map(str.upper , words))
print(upper_words)

Task5_0507. 주어진 리스트에서 'p'로 시작하는 단어만 필터링하세요.

words = ["python", "is", "powerful", "programming", "language", "pandas"]

In [ ]:
words = ["python", "is", "powerful", "programming", "language", "pandas"]
filtered_words = (filter(lambda x : x[0] == 'p' , words ))
print([i for i in filtered_words])

In [ ]:
words = ["python", "is", "powerful", "programming", "language", "pandas"]

print([w for w in words if w.startswith('p')])

In [ ]:
words = ["python", "is", "powerful", "programming", "language", "pandas"]

p_words = list(filter(lambda x: x.startswith('p') , words))
print(p_words)

Task6_0507. 내장함수를 이용해서 list = [0,1,2,3,4,5,6]에서 2를 삭제 후 출력하세요.(2가지 방법)

In [ ]:
list = [0,1,3,4,5,6]

list.pop(2) # 인덱스
print(list)

In [ ]:
list = [0,1,2,3,4,5,6]

list.remove(2) # 값
print(list)

In [ ]:
list = [0,1,2,3,4,5,6]

del list[2]
print(list)

Task7_0507. 내장함수를 이용하여 동일한 개수로 이루어진 자료형을 화살표 좌측에서 우측으로 변환하세요.

[1,2,3],[4,5,6] -> [(1,4),(2,5),(3,6)]
[1,2,3],[4,5,6] [7,8,9] -> [(1,4,7),(2,5,8),(3,6,9)]
('abc','def') -> [('a','d'),('b','e'),('c','f')]

In [ ]:
list1 = [1,2,3]
list2 = [4,5,6]
list3 = [7,8,9]
tuple4 = ('abc','def')

print([i for i in zip(list1, list2)])
print([i for i in zip(list1, list2, list3)])
print([i for i in zip(tuple4[0],tuple4[1])])

Task8_0507. url에서 호스트 도메인(news.naver.com)을 추출하여 출력하세요.

url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

In [ ]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

print(url.split('/')[2])