제어문(control statement)은 프로그램의 흐름을 제어하는데 사용

#### 조건문 (Conditional Statements):
- if: 특정 조건이 참(True)일 때 코드 블록을 실행
    - 조건은 비교 연산자(==, !=, <, >, <=, >=)와 논리 연산자(and, or, not)를 사용하여 표현할 수 있다
- elif: 이전의 if 또는 elif 조건이 거짓(False)일 때 다른 조건을 검사
    - elif는 'else if'의 축약형으로, 이전 if 또는 elif 문의 조건이 거짓(False)일 때 다른 조건을 검사
    - 여러 elif 문을 사용하여 다양한 조건을 검사할 수 있다
- else:
    - 이전의 if 또는 elif 문의 조건이 모두 거짓일 때 실행할 코드 블록을 지정

In [ ]:
x = 10
if x > 5:
    print("x는 5보다 큽니다")
elif x == 5:
    print("x는 5입니다")
else:
    print("x는 5보다 작습니다")

x는 5보다 큽니다

In [ ]:
x = 10
if x >=5:
    print("x는 5보다 크거나 같습니다")
else:
    print("x는 5보다 작습니다")

x는 5보다 크거나 같습니다

In [ ]:
# 각 조건이 서로 독립적일때 if문을 연속해서 사용

x = 10
y = 5

if x > 5:
    print("x는 5보다 큽니다")

if y < 10:
    print("y는 10보다 작습니다")

if x > y:
    print("x는 y보다 큽니다")

x는 5보다 큽니다
y는 10보다 작습니다
x는 y보다 큽니다

In [ ]:
x = 10
y = 5

if x > 5:
    if y >= 3:
        print("x는 5보다 크고 y는 3보다 크거나 같습니다")
    else:
        print("x는 5보다 크고 y는 3보다 작습니다")
else:
        print("x는 5보다 작거나 같습니다")

x는 5보다 크고 y는 3보다 크거나 같습니다

In [ ]:
# Q . 이중 조건문을 사용하여 코드를 작성하세요 (조건 내용은 자유. 단, if문, if ~elif ~ else중첩하여 사용)

x = 17
y = 8

if x > 17:
    if y <= 8:
        print("x는 17보다 크고 y는 8보다 작거나 같습니다")
elif x < 17:
    if y >= 8:
        print("x는 17보다 작고 y는 8보다 크거나 같습니다")
else:
    print()

In [ ]:
# 70점 이상만 채점

score = int(input("점수를 입력하세요: "))

if score < 70:
    print("점수가 70점 미만입니다. 채점을 진행하지 않습니다.")
else:
    if score >= 90:
        print("A")
    elif score >= 80:
        print("B")
    else:
        print("C")

점수를 입력하세요: 65
점수가 70점 미만입니다. 채점을 진행하지 않습니다.

In [ ]:
 # Q . listdata = ['a' , 'b' , 'c']

listdata = ['a' , 'b' , 'c']

if 'a' in listdata:
    print('a 가 listdata에 있습니다')
if 'b' in listdata:
    print('b 가 listdata에 있습니다')
if 'c' in listdata:
    print('c 가 listdata에 있습니다')

a 가 listdata에 있습니다
b 가 listdata에 있습니다
c 가 listdata에 있습니다

In [ ]:
listdata = ['a' , 'b' , 'c']

for i in listdata:
    if i in listdata:
        print(f'{i}가 listdata에 있습니다')

a가 listdata에 있습니다
b가 listdata에 있습니다
c가 listdata에 있습니다

In [ ]:
# Q . "주머니에 돈이 만원이상 있으면 택시를 타고 , 돈이 없으면 걸어간다" 를 만족하는 조건문을 사용하세요

money = int(input("현재 가지고 있는 돈 : "))

if money >= 10000:
    print("택시를 탄다")

else:
    print("걸어간다")

현재 가지고 있는 돈 : 5000
걸어간다

In [ ]:
# Q . 조건부 표현식을 한줄의 조건문으로 작성하세요.

score = 70
if score >=60:
     massage = ("success")
else:
    message = "failure"

print(massage)

success

In [ ]:
score = 70
["succese" if score >=60 else "failure"]

['succese']

In [ ]:
# Q . "수입과 지출금액을 비교해서 수입이 많으면 저축증가, 반대이면 빚이 증가 , 같으면 현상유지" 프로그램 작성

income = int(input())
spend = int(input())

if income > spend:
    print("저축 증가")

elif income < spend:
    print("채무 증가")

else:
    print("현상유지")

1000
1000
현상유지

#### 반복문 (Loop Statements):
- for: 시퀀스(리스트, 튜플, 문자열 등)의 아이템을 순회하면서 코드 블록을 실행
- while: 특정 조건이 참인 동안 코드 블록을 반복하여 실행

In [ ]:
# for 루프는 시퀀스(리스트, 튜플,문자열 등)나 반복 가능한 객체 (iterable)의 요소를 순회

for i in range(5):
    print(i, end=' ')
print('\n')
count = 0
while count < 5:
    print(count)
    count +=1

0 1 2 3 4

0
1
2
3
4

In [ ]:
# 리스트를 순회하는 예

for i in [1,2,3,4,5]:
    print(i, end = ' ')

print('\n')
#문자열을 순회하는 예

for char in "hello":
    print(char , end = ' ')

1 2 3 4 5

h e l l o

In [ ]:
# while 루프는 주어진 조건이 참(True)인 동안 코드 블록을 반복
# 조건이 거짓(False)이 되면 루프가 종료

count = 0
sum = 0
while count < 5:
    sum += count
    print(sum , end =' ')
    count += 1

0 1 3 6 10

In [ ]:
# Q . d에서 반복문을 사용하여 97 98 99를 출력하시오

d = {'a': 97 , 'b': 98 , 'c': 99}

for key in d:
    print(d[key], end = ' ')

97 98 99

In [ ]:
d = {'a': 97 , 'b': 98 , 'c': 99}

for k ,v in d.items():
    print(v , end = ' ')

97 98 99

dict_values 클래스의 이해:
- 클래스 정의: 파이썬에서 클래스는 객체를 생성하는 데 사용되는 템플릿. dict_values는 딕셔너리의 값을 보여주는 뷰 객체를 생성하는 특별한 내장 클래스.
- 뷰 객체: dict_values 객체는 딕셔너리의 값에 대한 동적인 뷰를 제공. "뷰(view)"란 원본 딕셔너리 객체의 값이 변하면 그 변화가 dict_values 객체에도 반영되는, 원본 데이터의 실시간 반영본을 의미. 이는 딕셔너리의 값들이 수정, 추가, 삭제될 때 dict_values 객체가 자동으로 업데이트된다는 의미.
- 객체 인스턴스: dict_values 객체는 dict_values 클래스의 인스턴스. 이 클래스는 파이썬의 다른 모든 클래스처럼 특정 데이터 구조와 메서드를 가진다. 예를 들어, dict_values 객체는 순회 가능하며 (iterable), 딕셔너리의 모든 값을 순차적으로 접근할 수 있는 메서드를 제공.

In [ ]:
d['b'] = 100
print(d)
print(d.values())

{'a': 97, 'b': 100, 'c': 99}
dict_values([97, 100, 99])

#### 제어문 관련 키워드:
- break: 현재의 반복문을 중단하고, 반복문 바깥의 코드를 실행
- continue: 반복문의 나머지 부분을 건너뛰고, 다음 반복을 시작

In [ ]:
for i in range(5):
    if i == 3:
        break
    print(i , end = ' ')
print('\n')

for i in range(5):
    if i == 3:
        continue
    print(i , end = ' ')

0 1 2

0 1 2 4

In [ ]:
for i in range(10):
    if i == 5:
        break # i 가 5일때 루프를 종료한다
        print(i , end = ' ')
print('\n')
for i in range(10):
    if i % 2 == 0:
        continue # i가 짝수일 때 나머지 부분을 건너뛰고 다음 반복을 시작한다
        print(i , end == ' ')

In [ ]:
# for 또는 while 루프에 else 절을 사용하면, 루프가 정상적으로 완료된 후에 실행할

for i in range(5):
    print(i , end = ' ')

else:
    print("루프가 완료되었습니다" , '\n')

count = 0
while count < 5:
    print(count , end = ' ')
    count += 1
else:
    print("루프가 완료되었습니다")

0 1 2 3 4 루프가 완료되었습니다

0 1 2 3 4 루프가 완료되었습니다

In [ ]:
# break 문을 사용하여 루프를 중단하면 else 절은 실행되지 않음

for i in range(5):
    if i == 3:
        print(f'{i}에서 루프를 중단합니다')
        break

else:
    print('루프가 정상적으로 완료되었습니다.')

3에서 루프를 중단합니다

# 조건과 반복을 결합

In [ ]:
# 10미만 홀수만 출력

for i in range(10):
    if i % 2 == 1:
        print(i , end = ' ')

1 3 5 7 9

In [ ]:
# 10미만 홀수만 출력

for i in range(10):
    if i % 2 != 0:
        print(i , end = ' ')

1 3 5 7 9

In [ ]:
# Q . 1 ~ 10 범위의 정수에서 1부터 5까지만 출력하세요

for i in range(1,11):
    if i > 5:
        break
    print(i , end = ' ')

1 2 3 4 5

In [ ]:
# Q. numbers 리스트에서 15,20,25를 출력하세요 (for문과 if 조건 사용 필수)

numbers = [5,15,6,20,7,25]

for i in numbers[1:6]:
    if i % 5 == 0:
        print(i , end = ' ')

15 20 25

In [ ]:
numbers = [5,15,6,20,7,25]

for i in numbers:
    if i > 5 and i%5 == 0:
    # if i >=15:
        print(i , end = ' ')

15 20 25

In [ ]:
# 특정 조건을 만족할 때까지  반복

count = 0
while 1:
    count += 1
    if count > 5:
        break
    print(count , end = ' ')
print('루프가 종료됨')

1 2 3 4 5 루프가 종료됨

In [ ]:
# Q . 리스트에서 특정값 찾기

numbers = [1,2,3,4,5]
target = 3

for i in numbers:
    if int(input("target: ")):
        print()
        break
    else:
        print("no target")

target: 1

In [ ]:
# Q . 리스트에서 특정값 찾기

numbers = [1,2,3,4,5]
target = 6

for num in numbers:
    if num == target:
        print(f"{target}을 찾았습니다 !")
        break

else:
    print(f"{target}을 찾지 못했습니다.")
# print(f"{target}을 찾지 못했습니다)

6을 찾지 못했습니다.

In [ ]:
# Q . 1 ~ 20 사이의 정수에서 10보다 작은 홀수만 입력

for i in range(1,21):
    if i < 10:
        if i % 2 != 0:
            print(i , end = ' ')
    else:
        break

1 3 5 7 9

In [ ]:
# while ~ continue ~ break
# 20 보다 작은 정수에서 1 3 5 7 9 만을 출력

a = 0

while a < 20:
    a += 1
    if a % 2 == 0:
        continue
    if a >= 10:
        break
    print(a , end = ' ')

1 3 5 7 9

In [ ]:
# Q . 정수 1부터 n까지 더할 때 그 합이 1000보다 커지게 되는 n값과 합을 구하세요 (while ~ break)

x = 1
sum = 0

while 1:
    sum = sum + x
    if sum > 1000:
        print(x)
        print(sum)
        break
    x  = x + 1

45
1035

In [ ]:
x = 0
sum = 0

while sum < 1000:
    x += 1
    sum += x
print(x)
print(sum)

45
1035

In [ ]:
sum = 0

for i in range(1,46):
    sum += i
print(sum)

1035

In [ ]:
# Q . while문을 사용해 1부터 1000까지의 정수 중 3의 배수의 합을 구하세요
# 1
count = 1
multiple_sum = 0
while count <= 1000:
    if count % 3 == 0:
        multiple_sum += count
    count += 1
print(multiple_sum)

166833

In [ ]:
# 2
n = 0
sum = 0

while n < 1000:
    n += 1
    if n % 3 == 0:
        sum += n
print(sum)

166833

In [ ]:
# 3

n = 3
sum = 0
while n <=1000:
    sum += n
    n += 3
print(sum)

166833

In [ ]:
# Q . 정수를 입력하면 홀수 짝수를 판별하는 프로그램 작성

number = int(input("정수를 입력하세요: "))

if number % 2 == 1:
    print(f'입력한 숫자{number}는 홀수 입니다.')

else:
    print(f'입력한 숫자{number}는 짝수 입니다.')

정수를 입력하세요: 3
입력한 숫자3는 홀수 입니다.

In [ ]:
while True:
    try:
        number = int(input("정수를 입력하세요: "))

        if number % 2 == 1:
            print(f'입력한 숫자 {number}는 홀수입니다.')
        else:
            print(f'입력한 숫자 {number}는 짝수입니다.')
            break  # 정수 입력시 while 루프를 빠져나감
    except ValueError:
        print("정수가 아닌 값이 입력되었어요. 정수를 입력하세요")

정수를 입력하세요: 4.5
정수가 아닌 값이 입력되었어요. 정수를 입력하세요
정수를 입력하세요: 3.6
정수가 아닌 값이 입력되었어요. 정수를 입력하세요
정수를 입력하세요: 3
입력한 숫자 3는 홀수입니다.
정수를 입력하세요: 3
입력한 숫자 3는 홀수입니다.

KeyboardInterrupt: Interrupted by user

In [ ]:
# Q. 입력받은 문자열의 각 문자를 그 다음 문자로 변경하여 출력하세요 (ABC -> BCA)

data = str(input('문자열을 입력: '))

for i in range(len(data)):
    if i == 0:
        continue
    print(data[i],end = '')

else:
    print(data[0])

문자열을 입력: ABC
BCA

zip() 함수
- 여러 개의 이터러블(리스트, 튜플 등)을 인자로 받아, 동일한 인덱스에 있는 요소들을 하나의 튜플로 묶어서 이터레이터를 반환
- 데이터를 병렬로 처리할 때 유용

In [ ]:
list1 = [1,2,3,4]
list2 = ['a','b','c','d']
zipped = zip(list1 , list2)
print(list(zipped))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [ ]:
# Q . 두개의 리스트(이름과 성)을 사용하여 각 사람의 전체 이름을 생성하세요

first_names = ["John" , "Jane" , "Corey" , "Travis"]
last_names = ["Doe" , "Smith" , "Turner" , "Williams"]

full_names = [first + " " + last for first, last in zip(first_names, last_names)]
print(full_names)

['John Doe', 'Jane Smith', 'Corey Turner', 'Travis Williams']

In [ ]:
# Q. 학생들의 수학과 영어 점수를 각각의 리스트로 받아 평군 점수를 구하시오

math_scores = [88, 92, 79, 93, 85]
english_scores = [90, 91, 85, 88, 86]

average_scores = [(math + english) / 2 for math , english in zip(math_scores, english_scores)]
print(average_scores)

[89.0, 91.5, 82.0, 90.5, 85.5]

In [ ]:
# Q . 상품 이름과 가격이 각각 다른 리스트에 저장되어 있을떄, 상품명과 가격을 튜플로 묶어 출력하시오

products = ["apple" , "banana" , "cherry"]
prices = [1.2 , 0.5 , 2.5]

for product , price in zip(products,prices):
    print(f'product: {product} , Price ${price}')

product: apple , Price $1.2
product: banana , Price $0.5
product: cherry , Price $2.5

#### 파이썬의 random 모듈
난수를 생성하기 위한 다양한 함수를 제공
- 기본 난수 생성:
  - random.random(): 0과 1 사이의 무작위 부동소수점 숫자를 반환.
- 범위 지정 난수 생성:
  - random.randint(a, b): a와 b 사이의 무작위 정수를 반환(b 포함).
  - random.randrange(start, stop[, step]): 지정된 범위에서 무작위 정수를 반환. step을 설정하여 수의 간격을 조정할 수 있다.
- 시퀀스용 함수:
  - random.choice(sequence): 주어진 시퀀스(리스트, 튜플 등)에서 무작위로 아이템을 선택하여 반환.
  - random.shuffle(x[, random]): 리스트의 항목들을 무작위로 섞는다. random은 섞기를 위한 함수를 커스텀할 때 사용.
  - random.sample(population, k): 주어진 시퀀스에서 무작위로 k개의 항목을 뽑아 새 리스트로 반환.
- 분포 기반 난수 생성:
  - random.uniform(a, b): a와 b 사이의 무작위 부동소수점 숫자를 균등 분포로 반환.
  - random.gauss(mu, sigma): 평균 mu와 표준편차 sigma를 가지는 정규 분포에서 난수를 반환.

In [ ]:
import random

# 0과 1 사이의 난수 생성
print(random.random())
# 1에서 10 사이의 정수 반환 (10 포함)
print(random.randint(1,10))
# 리스트에서 무작위로 하나의 원소 선택
items = [1,2,3,4,5]
print(random.choice(items))
# 리스트의 원소를 무작위로 섞기
random.shuffle(items)
print(items)
# 정규 분포 난수 생성
mean = 0
std_dev = 1
print(random.gauss(mean, std_dev))

0.6873011530387001
9
1
[5, 2, 1, 4, 3]
-0.5175710231825522

In [ ]:
import random
male = ['철수' , '갑돌' , '로미오' , '이몽룡' , '온돌']
random.shuffle(male)
male

['이몽룡', '갑돌', '온돌', '철수', '로미오']

In [ ]:
from random import shuffle
male = ['철수' , '갑돌' , '로미오' , '이몽룡' , '온돌']
shuffle(male)
male

['이몽룡', '온돌', '로미오', '갑돌', '철수']

Task1_0430. 남녀 파트너 정해주기 프로그램(zip)

같은 수의 남녀 모임에서 파트너를 랜덤하게 정해주는 프로그램을 만들어 보세요

male = ['철수','갑돌','로미오','이몽룡','온돌']

female = ['미미','갑순','줄리엣','성춘향','평강']

In [ ]:
import random

male = ['철수', '갑돌', '로미오', '이몽룡', '온돌']
female = ['미미', '갑순', '줄리엣', '성춘향', '평강']

# 두 리스트를 병합하여 한 쌍으로 이루어진 튜플의 리스트 생성
pairs = list(zip(male, female))

# 쌍을 무작위로 섞음
random.shuffle(pairs)

# 파트너를 출력
for male, female in pairs:
    print(f"{male} - {female}")

온돌 - 평강
이몽룡 - 성춘향
갑돌 - 갑순
철수 - 미미
로미오 - 줄리엣

In [ ]:


import random

male = ['철수','갑돌','로미오','이몽룡','온돌']

female = ['미미','갑순','줄리엣','성춘향','평강']

random.shuffle(male)
print(male)
random.shuffle(female)
print(female)

['온돌', '로미오', '갑돌', '이몽룡', '철수'] ['미미', '갑순', '줄리엣', '성춘향', '평강']
['평강', '미미', '성춘향', '갑순', '줄리엣']

Task2_0430. 대문자, 소문자, 숫자를 포함하는 8자리 랜덤 비밀번호를 생성하는 프로그램을 작성하세요.

In [ ]:
import random

# 대문자, 소문자, 숫자 리스트 정의
upper = ['A', 'B', 'C', 'D']
lower = ['e', 'f', 'g', 'h']
numbers = ['1', '2', '3', '4']

# 대문자, 소문자, 숫자 중 무작위로 하나씩 선택하여 비밀번호 생성
password = [
    random.choice(upper),
    random.choice(lower),
    random.choice(numbers),
    *[random.choice(upper + lower + numbers) for _ in range(5)]  # 나머지 5자리 무작위 선택
]

# 비밀번호 리스트를 문자열로 변환
password_str = ''.join(password)

# 생성된 비밀번호를 무작위로 섞음
password_shuffled = ''.join(random.sample(password_str, len(password_str)))

print(password_shuffled)

fgC2gefA

In [ ]:
import random

upper = ['A','B','C','D']
lower = ['e','f','g','h']
numbers = [1,2,3,4]

password = list(zip(upper, lower, numbers))
random.shuffle(password)

print(password)

[('A', 'e', 1), ('B', 'f', 2), ('C', 'g', 3), ('D', 'h', 4)]

Task3_0430. 발표자 수를 랜덤하게 출력하는 프로그램을 작성하세요.(발표자 수 입력)

kita = ['김성현','황강민','윤호준','류윤선','이상협','박지환','최환욱','서보선','김한결','김도현','김하준',
        '김도원','신현진','소지승','이범석','이현석','이명신','박윤경','이도헌','김홍준']

In [ ]:
import random

kita = ['김성현', '황강민', '윤호준', '류윤선', '이상협', '박지환', '최환욱', '서보선', '김한결', '김도현', '김하준', '김도원', '신현진', '소지승', '이범석', '이현석', '이명신', '박윤경', '이도헌', '김홍준']

# 발표자 수를 입력 받습니다.
num_presenters = int(input("발표자 수를 입력하세요: "))

# 입력한 발표자 수가 리스트의 길이를 초과할 경우, 리스트의 길이로 설정합니다.
num_presenters = min(num_presenters, len(kita))

# 발표자 수만큼 무작위로 선택합니다.
selected_presenters = random.choices(kita, k=num_presenters)

# 선택된 발표자를 출력합니다.
print("선택된 발표자:")
for presenter in selected_presenters:
    print(presenter)

발표자 수를 입력하세요: 10
선택된 발표자:
윤호준
류윤선
소지승
김도원
김홍준
김도현
박윤경
박지환
김한결
이현석

Task4_0430. 사용자로부터 숫자를 입력받아 해당 숫자의 구구단을 출력하는 프로그램을 작성하세요.

Task5_0430. 사용자로부터 숫자를 입력받아 해당 숫자의 팩토리얼을 계산하세요.

Task6_0430. 0부터 20까지의 숫자 중에서 짝수와 홀수를 분리하여 두 개의 리스트에 저장하세요.

In [ ]:
for i in range(1,21):
    if i >= 1:
        if i % 2 == 0:
            print(i , end = ' ')

2 4 6 8 10 12 14 16 18 20

Task7_0430. 주어진 리스트에서 최대값을 찾아 출력하세요.
- numbers[34,78,2,45,99,23]

In [ ]:
numbers = [34,78,2,45,99,23]

max_num = max(numbers)
print(max_num)

99

Task8_0430.  1부터 10 사이의 임의의 숫자를 맞추는 게임을 만드세요. 사용자가 숫자를 맞출 때까지 입력을 계속 받으며, 정답을 맞추면 게임을 종료하세요.
- 단, 입력숫자가 정답보다 큰지 작은지 힌트를 주는 방식으로 코드 작성

Task9_0430. 태어난 연도를 입력받아 띠를 출력하는 프로그램을 작성하세요.

Task10_0430. 아래 사항을 반영하여 커피 자판기 프로그램을 작성하세요.
- 시나리오 : 자판기 커피 재고 5잔, 커피 1잔 가격 300원, 재고 범위내에서 300원 이상 돈을 넣으면 거스름돈과 커피를 주고 그렇지 않으면 반환하며 재고가 소진되면 안내멘트 출력
- 각 Case별 멘트 출력은 상황에 맞게 창작
- while, if ~ elif ~ else 제어문을 사용하여 작성