파이썬에서 함수는 크게 내장 함수(Built-in Functions)와 외장 함수(External Functions)로 나뉩니다.

파이썬 표준 라이브러리
https://docs.python.org/ko/3.10/library/index.html
1. 내장 함수 (Built-in Functions):
- 내장 함수는 파이썬 인터프리터에 포함되어 있어, 별도의 모듈을 임포트(import)하지 않고도 사용 예를 들어, print(), len(), type(), range(), zip() 등이 내장 함수입니다.
- 이러한 함수들은 기본적인 작업을 수행하며, 파이썬 프로그래밍의 기본적인 빌딩 블록(building blocks)으로 작동

2. 외장 함수 (External Functions):
- 표준 라이브러리에 포함된 모듈과 함수를 가리키는 것으로 모듈을 임포트하여 사용
- 파이썬 표준 라이브러리의 os, sys, math, random, datetime 등의 모듈에는 다양한 외장 함수가 포함

3. 외부 라이브러리나 패키지
- 표준 라이브러리에 포함되지 않아 기본 설치에는 포함되지 않는다.
- 이를 사용하려면 먼저 해당 라이브러리나 패키지를 설치
- 외부 라이브러리는 통상적으로 파이썬의 패키지 관리자인 pip를 사용하여 설치
- 설치 후에는 외장 함수와 마찬가지로 필요한 모듈을 임포트하여 사용
- 예: numpy, pandas, requests 등의 외부 라이브러리에 포함된 함수들.

3. 사용자 정의 함수(User-Defined Functions):
- 사용자가 직접 정의하여 사용하는 함수
- def 키워드를 사용하여 함수를 정의하며, 필요에 따라 매개변수와 반환 값을 지정

4. 람다 함수(Lambda Functions):
- 이름 없는 간단한 함수를 정의할 때 사용하는 익명 함수
- lambda 키워드를 사용하여 한 줄로 함수를 정의하며, 주로 간단한 연산이 필요할 때 사용

- 함수의 종류 및 예제
- 패키지, 모듈, 함수, 클래스
- 함수 vs 메소드
- 내장함수 연습
- 외장함수 연습 : 날짜 함수, os
- 외부 라이브러리 연습
- 람다함수 연습
- 사용자 함수 연습
- 함수 유형 : 입력 인자와 리턴값에 따른 4가지 형태
- 지역변수와 전역변수
- 프로그램 작성

In [ ]:
# 내장 함수 예제
print("Hello" , "World!") # 출력함수
print(len([1,2,3,4])) # 길이 계산 함수
print(type(10)) # 타입 확인 함수

Hello World!
4
<class 'int'>

In [ ]:
# Q . 내장함수로 다음을 수행하세요.
a = [1,2,3,4,5]
print(sum(a))
print(max(a))
print(min(a))
print(sorted(a))
print(list(reversed(a)))

15
5
1
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [ ]:
print(type(42))
print(abs(-5)) # 절대갑
print(round(3.14159 , 2)) # 반올림
print(pow(2,3)) # 2의 3승

<class 'int'>
5
3.14
8

In [ ]:
# 외장 함수 예제

import math # 수학 모듈 임포트
print(math.sqrt(16)) # 제곱근 계산 함수 (루트)

import random # 랜덤 모듈 임포트
print(random.randint(1,10)) # 랜덤 정수 생성 함수. 양끝 포함

import datetime # 날짜와 시간 모듈 임포트
print(datetime.datetime.now()) # 현재 날짜와 시간 출력 함수

4.0
6
2024-05-03 06:27:39.639814

In [ ]:
# Q . datetime.datetime.now() 에서 연도 ,월, 일, 시, 분, 초, 마이크로초를 각각 출력하세요

from datetime import datetime # datetime 모듈로부터 datetime클래스를 가져옴

now = datetime.now()
print(now.year)
print(now.month)
print(now.day)
print(now.hour)
print(now.minute)
print(now.second)
print(now.microsecond)

2024
5
3
6
31
50
210602

In [ ]:
import os
print(os.getcwd())
print(os.listdir()) # 잘 안씀

/content
['.config', 'new_folder', 'sample_data']

In [ ]:
os.mkdir('new_folder') # make directory

In [ ]:
os.removedirs('new_folder')

In [ ]:
!ls

sample_data

In [ ]:
# 외부 라이브러리 예제
# 먼저 pip를 사용하여 pandas 라이브러리를 설치합니다
# pip install pandas

import pandas as pd

# pandas 의 DataFrame 객체 생성
data = {'Name': ['Alice' , 'Bob' , 'Charlie'] , 'Age': [25, 30, 35]}
df = pd.DataFrame(data)

# pandas 의 head() 함수 사용하여 DataFrame의 처음 5행 출력 (여기서는 3행만 존재)
print(df.head)

<bound method NDFrame.head of       Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35>

In [ ]:
import pandas as pd

data = {'Name': ['Alice' , 'Bob' , 'Charlie'] , 'Age': [25, 30, 35]}
df = pd.DataFrame(data)
print(df.head)

<bound method NDFrame.head of       Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35>

In [ ]:
import numpy as np
data = [1,2,3,4]
arr = np.array(data)
print(arr,type(arr))

[1 2 3 4] <class 'numpy.ndarray'>

In [ ]:
import numpy as np
arr = np.array(data)
print(arr)

[1 2 3 4]

In [ ]:
# 사용자 함수 예제
def greet(name):
    return f"Hello,{name}!"
print(greet("홍길동"))

Hello,홍길동!

In [ ]:
# 람다 함수는 간단한 한 줄의 함수를 작성할 때 유용
multiply = lambda x , y : x * y
print(multiply(3,4)) # 출력 :12

12

In [ ]:
# 조건 사용:
is_even = lambda x : True if x % 2 == 0 else False
print(is_even(4)) # 출력 : True
print(is_even(5)) # 출력 : False

True
False

Task2_0503. 내장함수 5개를 활용해서 사용자 함수로 간단한 프로그램을 만드세요.

[예시] 문서관리 프로그램

len() - 문자열의 길이를 계산합니다.\
input() - 사용자로부터 입력을 받습니다.\
print() - 결과를 출력합니다.\
sum() - 주어진 조건에 따라 특정 개수를 계산합니다.\
Counter (from collections) - 문자의 빈도수를 계산합니다.\

In [ ]:
num = (1,2,3,4,5,6,7,8,9,10)
print(len(num))
print(input("숫자를 입력하세요"))
print(sum(num))

10
숫자를 입력하세요2
2
55

In [ ]:
# 문제 해결

# 내장함수
print(dir(__builtins__))
print(len(dir(__builtins__)))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EncodingWarning', 'EnvironmentError', 'Exception', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'aiter', 'all', 'anext', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'execfile', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'runfile', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']
158

In [ ]:
def string_statistics(user_input):
    # 문자열 길이 반환
    lenght = len(user_input)
    # 가장 자주 등장하는 문자 찾기
    from collections import Counter
    frequency = Counter(user_input)
    most_common = frequency.most_common(1)[0][0]
    # 숫자 개수 세기
    num_count = sum(c.isdigit() for c in user_input)
    # 대문자 개수 세기
    uppercase_count = sum(c.isupper() for c in user_input)
    # 소문자 개수 세기
    lowercase_count = sum(c.islower() for c in user_input)
    # 결과 출력
    print(f"입력된 문자열의 길이: {length}")
    print(f"가장 자주 등장하는 문자: {most_common}")
    print(f"숫자의 개수: {num_count}")
    print(f"대문자의 개수: {uppercase_count}")
    print(f"소문자의 개수: {lowercase_count}")
# 사용자 입력 받기
user_input = input("문자열을 입력하세요")
string_statistics(user_input)

문자열을 입력하세요윤석열 대통령은 사정 기관 장악을 포함한 역기능을 우려해 역대 청와대가 유지했던 민정수석실을 정부 출범과 함께 폐지했지만, 지난 4·10 총선 패배 이후 민심 파악을 위한 민정 기능 부활을 검토해온 끝에 이날 공식화했다.

NameError: name 'length' is not defined

Task3_0503. 외장함수 3개 이상 활용해서 간단한 프로그램을 만드세요

In [ ]:
import os
import datetime
import shutil

def daily_scheduler():
    # 현재 날짜와 시간을 가져옵니다
    today = datetime.datetime.now()
    date_string = today.strftime("%Ya-%m-%d %H:%M:%S")
    print(f"오늘의 날짜와 시간: {date_string}")
    # 작업 파일의 이름을 정합니다
    filename = f"task_{today.strftime('%Y%m%d')}.txt"
    # 파일이 이미 존재하는지 확인합니다
    if os.path.exists(filename):
        print(f"'{filename}' 파일이 이미 존재합니다. 백업을 생성합니다")
        # 백업 파일 생성
        shutil.copy(filename, filename + ".bak")
    else:
        print(f"'{filename}' 파일이 존재하지 않습니다. 새로운 파일을 생성합니다")
    # 사용자로부터 오늘의 주요 작업을 입력 받습니다.
    task = input("오늘의 주요 작업을 입력하세요: ")
    # 작업 내용을 파일에 저장합니다
    with open(filename, 'a') as file:
        file.write(f"{date_string}: {task}\n")
    print(f"'{filename}' 파일에 작업이 저장되었습니다")
if __name__== "__main__":
    daily_scheduler()

Task4_0503. 리스트를 작성하고 람다 함수를 이용해서 한번에 함수를 적용하여 결과값을 출력하세요.

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10]

multiply_list = lambda x : x * 2

result = list(map(multiply_list , numbers))

print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
numbers = [1,2,3,4,5]
squared_numbers = map(lambda x : x * x , numbers)
print(list(squared_numbers))

[1, 4, 9, 16, 25]

In [ ]:
# 짝수

numbers = [1,2,3,4,5]
filtered_numbers = filter(lambda x : x % 2 == 0 , numbers)
print(list(filtered_numbers))

[2, 4]

Task5_0503. 외부 라이브러리를 임포트해서 간단한 프로그램을 만드세요.

In [ ]:
from bs4 import BeautifulSoup
html_doc = "<html><head><title>Hello World</title></head></html>"
soup = BeautifulSoup(html_doc, 'html.parser')
print(soup.title.text)

Hello World

In [ ]:
!pip install requests -q

import requests
from bs4 import BeautifulSoup

def fetch_website_content(url):
    response = requests.get(url)
    if response.status_code == 200:
        # HTML 내용을 BeautifulSoup 객체로 파싱합니다
        soup = BeautifulSoup(response.text, 'html.parser')

        # 예제:페이지 타이틀을 출력합니다
        print("page Title:" , soup.title.string if soup.title else "No title found")

    else:
        print("Failed to retrieve the weppage")
        print("Status code:" , response.status_code)

if __name__ == "__main__":
    url = input("저장하고 싶은 웹사이트의 URL을 입력하세요: ")
    fetch_website_content(url)

저장하고 싶은 웹사이트의 URL을 입력하세요: https://www.python.org/
page Title: Welcome to Python.org

#### 파이썬 패키지,  모듈, 함수, 클래스
- 코드 작성 시 이미 만들어져 있는 함수들을 활용하면 보다 효율적이고 빠르게 개발 가능
- 이미 만들어져 있고 안정성이 검증된 함수들을 성격에 맞게 하나의 파이썬 파일에 묶어 만들어 놓을 것을 모듈이라 함
- 외부 모듈에 있는 함수들을 활용하려면 이 모듈을 먼저 가져와서 사용해야 하는데 이것을 모듈을 임포트한다고 한다.
- 파이썬 모듈이 하나의 파이썬 파일이라면 패키지는 디렉토리로 볼 수 있다.

패키지
1. 라이브러리라고도 부름
2. 특정 기능과 관련된 여러 모듈을 한 그룹으로 묶은 것
3. 패키지 안에 서브패키지가 있을 수도 있다.
4. import 패키지/모듈, from 패키지/모듈 import 서브패키지/모듈
  
   
모듈
1. 여러 기능들이 뭉쳐진 하나의. py파일
2. 함수, 클래스, 변수 등 포함
3. import 모듈

함수
1. 하나의 기능을 가진 코드의 집합
2. 함수를 사용한다 = 함수를 호출한다
3. 함수 사용 형태: 함수( )
   - 필요한 경우 () 안에 매개변수 또는 옵션
4. 종류
   - 내장 함수(built in function)
   - 외장 함수: import 해주어야 함
   
클래스   
- 파이썬은 객체 지향 언어로클래스를 기반으로 객체를 만들어 사용한다.
- 한 파이썬 파일(. py) 내에서 "class class명():"을 통해 클래스 선언


#### 함수 vs 메소드
- 함수 (Function)
    - 함수는 특정 작업을 수행하거나 값을 계산하기 위해 정의된 코드의 블록
    - 함수는 def 키워드를 사용하여 정의
    - 함수는 전역적으로 호출할 수 있거나 다른 함수 내부에서 호출할 수 있다.    
- 메소드 (Method)
    - 메소드는 객체에 속한 함수, 메소드는 특정 객체의 기능으로 정의
    - 메소드는 객체와 연결되어 있으며, . (점) 표기법을 사용하여 해당 객체에 대한 메소드를 호출
    - 메소드는 첫 번째 매개변수로 self를 사용하여 객체 자체를 참조 (클래스 내부에서 메소드를 정의할 때)
- 주요 차이점
    - 정의: 함수는 독립적으로 정의되지만, 메소드는 클래스 내부에서 정의
    - 호출: 함수는 이름만으로 호출될 수 있지만, 메소드는 객체를 통해 호출
    - 참조: 메소드는 첫 번째 매개변수로 객체 자신을 참조(self), 반면 함수는 이런 자체 참조 매개변수를 갖지 않는다.

In [ ]:
# 함수 호출
def my_function():
    print("Hello from a function")

my_function()

Hello from a function

In [ ]:
# 메소드 호출

class MyClass:
    def my_method(self):
        print("Hello from a method")

obj = MyClass()
obj.my_method()

Hello from a method

# 내장함수 연습

In [ ]:
print(abs(-3))
print(all([1,2,3,4])) # x가 모두 참이면 True, 거짓이 하나라도 있으면 False
print(any([1,2,3,0])) # x가 하나라도 참이면 True, 모두 거짓이면 False
print(chr(65)) # 아스키 코드
print(float(3))
print(int(3.9))
print(max(1,10))
print(min(1,10))
print(pow(10,2)) # 거듭제곱
print(round(2.675,2))

3
True
True
A
3.0
3
10
1
100
2.67

In [ ]:
type(pow)

builtin_function_or_method

In [ ]:
# 함수가 다른 객체와 마찬가지로 변수에 할당되거나 , 다른 함수로 전달되거나 다른 함수로부터 반환될수 있음
# pow를 다른 변수에 할당
my_pow = pow
result = my_pow
print(result)

# 함수를 인자로 전달

def apply_func(func, x ,y):
    return func(x , y)
result = apply_func(pow, 3,4) # pow(3,4)
print(result)

<built-in function pow>
81

In [ ]:
age = 30
print("I am " + str(age) + " years old.")

I am 30 years old.

# sort, sorted 모두 key,reverse 매개변수를 갖고 있다
- reverse : 기본값은 reverse= False(오름차순) , reverse = True를 매개변수로 입력하면 내림차순으로 정렬
- key : 정렬을 목적으로 하는 함수를 값으로 넣는다. lambda를 이용할 수있고 key값을 기준으로 정렬되고 기본값은 오름차순

In [ ]:
my_list = [3,1,4,2]
print(sorted(my_list))
my_list

[1, 2, 3, 4]

[3, 1, 4, 2]

In [ ]:
my_string = 'Python'
print(type(my_string))

<class 'str'>

 Q . student = [('Alice',90) , ('Bob',85) , ('Charlie',88)]를 기준으로 정렬하세요

In [ ]:

# sorted() 함수와 함께 사용:
students = [('Alice',90) , ('Bob',85) , ('Charlie',88)]

sorted_students = sorted(students , key = lambda x : x[1] , reverse = True)
print(sorted_students)

[('Alice', 90), ('Charlie', 88), ('Bob', 85)]

In [ ]:
print(list(range(5)))
print(list(range(1,6)))
print(list(range(1,10,2)))
print(list(range(0,-10,-1)))

[0, 1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 3, 5, 7, 9]
[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [ ]:
# Q . 실행 가능한 숫자를 문자열('5+5')입력으로 받아 문자열을 숫자 연산으로 실행한 결과값을 출력하세요

print(eval(input('연산을 입력하세요.: ')))

연산을 입력하세요.: 5+5
10

In [ ]:
for idx, element in enumerate(['ele1' ,'ele2', 'ele3']):
    print(idx+1,element)

1 ele1
2 ele2
3 ele3

In [ ]:
expression = input("계산할 수식을 입력하세요: ")
result = eval(expression)
print(f"계산 결과: {result}")

계산할 수식을 입력하세요: 3 * 3
계산 결과: 9

In [ ]:
data = [1,2,3,4,5]
operation = input("실행할 리스트 연산을 입력하세요 (예 : data.append(6), 'data.pop()):  ")
eval(operation)
print(f'수정된 데이터: {data}')

실행할 리스트 연산을 입력하세요 (예 : data.append(6), 'data.pop()):  data.pop(3)
수정된 데이터: [1, 2, 3, 5]

In [ ]:
# Q. enumerate 와 f-string을 사용해서 특정 리스트에서 원하는 형태로 출력을 하세요. (인덱스와 내용을 믹스하여)
#과일의 종류
#0. 사과
#1. 키위
#2. 딸기
#3. 참외
#4. 수박

list02 = ['사과', '키위' , '딸기' , '참외' , '수박']
#print("과일의 종류")

for idx , element in enumerate(list02):
    print(idx , element)

0 사과
1 키위
2 딸기
3 참외
4 수박

Task1_0507. 튜플 형태인 strings를 다양한 문자가 포함된 순서로 정렬하세요
- strings = ('a','ca', 'bar', 'aaaa', 'ababa')

In [ ]:
strings = ('a','ca', 'bar', 'aaaa', 'ababa')

sorted_strings = sorted(strings , key = lambda x : len(set(x)) , reverse = True)
print(sorted_strings)

['bar', 'ca', 'ababa', 'a', 'aaaa']

In [ ]:
# 문제 해결 2

strings = ('a','ca', 'bar', 'aaaa', 'ababa')

strings = list(strings)
strings.sort(key = lambda x : len(set(x)) , reverse = True)
print(list(strings))

['bar', 'ca', 'ababa', 'a', 'aaaa']

task2_0507. eval 함수를 활용하여 a,b 변수와 연산자를 입력하면 사칙연산을 수행하는 코드를 작성하세요

In [ ]:
a = 3
b = 5

print(eval(input("사칙연산을 입력하세요")))

사칙연산을 입력하세요a + b
8

In [ ]:
# eval 을 사용하는 경우

num = input()
print(type(num))
result = eval(num)
print(result)

5*5
<class 'str'>
25

In [ ]:
# eval 을 사용하지 않는 경우

num = input("연산 : ")
maths = ['+' , '-' , '/' , '*']
math = {'+': lambda a,b : a+b , '-': lambda a,b : a-b , '/': lambda a,b : a/b , '*': lambda a,b : a*b}

num_list = list(num)
for i in num_list:
    if i in maths:
        num = num.split(i)
        print(math[i](int(num[0]), int(num[1])))

연산 : 4*4
16

Task3_0507. list1에 대해서 아래와 같이 출력하는 코드를 작성하세요.

인사평가 1번째 해당자는 김부장입니다. 회의실A로 오시기 바랍니다.\
인사평가 2번째 해당자는 이차장입니다. 회의실A로 오시기 바랍니다.\
인사평가 3번째 해당자는 김과장입니다. 회의실A로 오시기 바랍니다.\
인사평가 4번째 해당자는 이대리입니다. 회의실A로 오시기 바랍니다.\
인사평가 5번째 해당자는 오사원입니다. 회의실A로 오시기 바랍니다.\
인사평가 6번째 해당자는 김인턴입니다. 회의실A로 오시기 바랍니다.

In [ ]:
list1 = ['김부장','이차장', '김과장','이대리', '오사원', '김인턴']

for i , j in enumerate(list1):
    print(f'인사평가{i+1}번째 해당자는 {j}입니다.회의실A로 오시기 바랍니다.')

인사평가1번째 해당자는 김부장입니다.회의실A로 오시기 바랍니다.
인사평가2번째 해당자는 이차장입니다.회의실A로 오시기 바랍니다.
인사평가3번째 해당자는 김과장입니다.회의실A로 오시기 바랍니다.
인사평가4번째 해당자는 이대리입니다.회의실A로 오시기 바랍니다.
인사평가5번째 해당자는 오사원입니다.회의실A로 오시기 바랍니다.
인사평가6번째 해당자는 김인턴입니다.회의실A로 오시기 바랍니다.

In [ ]:
list1 = ['김부장','이차장', '김과장','이대리', '오사원', '김인턴']

for index , name in enumerate(list1):
    print(f"인사평가 {index+1}번째 해당자는 {name}입니다. 회의실A로 오시기 바랍니다.")

인사평가 1번째 해당자는 김부장입니다. 회의실A로 오시기 바랍니다.
인사평가 2번째 해당자는 이차장입니다. 회의실A로 오시기 바랍니다.
인사평가 3번째 해당자는 김과장입니다. 회의실A로 오시기 바랍니다.
인사평가 4번째 해당자는 이대리입니다. 회의실A로 오시기 바랍니다.
인사평가 5번째 해당자는 오사원입니다. 회의실A로 오시기 바랍니다.
인사평가 6번째 해당자는 김인턴입니다. 회의실A로 오시기 바랍니다.

Task4_0507. 주어진 문자열 리스트의 요소들을 대문자로 변환하세요.
words = ["hello", "world", "python", "map"]

In [ ]:
# 요소를 이용

words = ["hello", "world", "python", "map"]
upper_words = []

for i in words:
    upper_words.append(i .upper())
print(upper_words)

['HELLO', 'WORLD', 'PYTHON', 'MAP']

In [ ]:
# 요소를 이용
words = ["hello", "world", "python", "map"]
result = []

for word in words:
    result.append(word.upper())
print(result)

['HELLO', 'WORLD', 'PYTHON', 'MAP']

In [ ]:
# 인덱스를 이용
words = ["hello", "world", "python", "map"]

for i in range(len(words)):
    words[i] = words[i].upper()
print(words)

['HELLO', 'WORLD', 'PYTHON', 'MAP']

In [ ]:
words = ["hello", "world", "python", "map"]

print([i.upper() for i in words])
print(list(i.upper() for i in words))

['HELLO', 'WORLD', 'PYTHON', 'MAP']
['HELLO', 'WORLD', 'PYTHON', 'MAP']

In [ ]:
# str.upper는 문자열의 모든 문자를 대문자로 변환하는 메서드

words = ["hello", "world", "python", "map"]
upper_words = list(map(str.upper , words))
print(upper_words)

['HELLO', 'WORLD', 'PYTHON', 'MAP']

Task5_0507. 주어진 리스트에서 'p'로 시작하는 단어만 필터링하세요.

words = ["python", "is", "powerful", "programming", "language", "pandas"]

In [ ]:
words = ["python", "is", "powerful", "programming", "language", "pandas"]
filtered_words = (filter(lambda x : x[0] == 'p' , words ))
print([i for i in filtered_words])

['python', 'powerful', 'programming', 'pandas']

In [ ]:
words = ["python", "is", "powerful", "programming", "language", "pandas"]

print([w for w in words if w.startswith('p')])

['python', 'powerful', 'programming', 'pandas']

In [ ]:
words = ["python", "is", "powerful", "programming", "language", "pandas"]

p_words = list(filter(lambda x: x.startswith('p') , words))
print(p_words)

['python', 'powerful', 'programming', 'pandas']

Task6_0507. 내장함수를 이용해서 list = [0,1,2,3,4,5,6]에서 2를 삭제 후 출력하세요.(2가지 방법)

In [ ]:
list = [0,1,3,4,5,6]

list.pop(2) # 인덱스
print(list)

[0, 1, 4, 5, 6]

In [ ]:
list = [0,1,2,3,4,5,6]

list.remove(2) # 값
print(list)

[0, 1, 3, 4, 5, 6]

In [ ]:
list = [0,1,2,3,4,5,6]

del list[2]
print(list)

[0, 1, 3, 4, 5, 6]

Task7_0507. 내장함수를 이용하여 동일한 개수로 이루어진 자료형을 화살표 좌측에서 우측으로 변환하세요.

[1,2,3],[4,5,6] -> [(1,4),(2,5),(3,6)]\
[1,2,3],[4,5,6] [7,8,9] -> [(1,4,7),(2,5,8),(3,6,9)]\
('abc','def') -> [('a','d'),('b','e'),('c','f')]

In [ ]:
list1 = [1,2,3]
list2 = [4,5,6]
list3 = [7,8,9]
tuple4 = ('abc','def')

print([i for i in zip(list1, list2)])
print([i for i in zip(list1, list2, list3)])
print([i for i in zip(tuple4[0],tuple4[1])])

[(1, 4), (2, 5), (3, 6)]
[(1, 4, 7), (2, 5, 8), (3, 6, 9)]
[('a', 'd'), ('b', 'e'), ('c', 'f')]

Task8_0507. url에서 호스트 도메인(news.naver.com)을 추출하여 출력하세요.

url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

In [ ]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

print(url.split('/')[2])

news.naver.com

In [ ]:
print(range(10) , type(range(10)))
print([i for i in range(10)])
print(type([i for i in range(10)]))

range(0, 10) <class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>

In [ ]:
print(list(range(10)))
print(type(list(range(10))))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>

In [ ]:
# 몫과 나머지

print(divmod(7,3))

(2, 1)

In [ ]:
# Q. 150분을 시간과 분으로 변환해서 출력하세요

def convert_time(minutes):
    hours , minutes = divmod(minutes , 60)
    return hours,minutes

minutes = 150
hours, minutes = convert_time(minutes)
print(f"{hours}시간 {minutes}분")

2시간 30분

In [ ]:
# Q. 내장함수를 이용해서 list = [0,1,2,3,4,5,6,]에서 모든 원소를 삭제 후 출력하세요

list = [0,1,2,3,4,5,6,]

In [ ]:
# Q. url에서 쿼리문을 추출하여 출력하세요
# url에서 '?'뒤에 표시 되는 문자열을 쿼리 문자열이라고 하며 변수 = 값 사이 &로 구분되어 나열된다
url = url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

tmp1 = url.split('/')
tmp2 = tmp1[-1].split('?')
result = tmp2[-1].split('&')

print(result)
print("")

for i in result:
    print(i)

['mode=LSD', 'mid=shm', 'sid1=105', 'oid=028', 'aid=0002334601']

mode=LSD
mid=shm
sid1=105
oid=028
aid=0002334601

In [ ]:
# Q . List 안의 단어가 있으면 해당 제목을 출력

x = input("제목을 입력해 주세요.: ")
tlist = ['Hello word!' , 'Nice Day' , 'HappyBin' , 'enDing_Story']

n_tlist = []
x = x.lower()

for i in range(len(tlist)):
    n_tlist.append(tlist[i].lower())
    if x in n_tlist[i]:
        print(tlist[i])

제목을 입력해 주세요.: n
Nice Day
HappyBin
enDing_Story

In [ ]:
# Q. 영어 이름을 적으면 앞에 글자를 대문자로 바꾸어 주는 프로그램
# (단 중간에 한칸씩 띄어주어야 함 ex) hwang kang min -> Hwang Kang Min

wiyname = input('이름을 영어로 입력하세요 : ')
txt = wiyname.title()
print(f"당신의 이름을 바꾸면 {txt}입니다.")

이름을 영어로 입력하세요 : kang min hwang
당신의 이름을 바꾸면 Kang Min Hwang입니다.

task1_0508. tilte()함수를 사용하지 않고 동일한 결과를 출력하세요

In [2]:
txt = 'A lot of Things occur every day.'

ret1 = txt.title()
print(ret1)

A Lot Of Things Occur  Every Day.

In [ ]:
# 문자열에서 좌우 공백 제거

txt = '   양쪽에 공백이 있는 문자열입니다.   '
ret1 = txt.lstrip()
ret2 = txt.rstrip()
ret3 = txt.strip()

print('<' + ret1 + '>')
print('<' + ret2 + '>')
print('<' + ret3 + '>')

<양쪽에 공백이 있는 문자열입니다.   >
<   양쪽에 공백이 있는 문자열입니다.>
<양쪽에 공백이 있는 문자열입니다.>

In [ ]:
# join : 특정 문자로 결합

loglist = ['2016/0826 10:12:11' , '200' , 'ok' , '이 또한 지나가리라']
bond = ':'
log = bond.join(loglist)
print(log)

2016/0826 10:12:11:200:ok:이 또한 지나가리라

Task2_0508. join 함수를 이용해서 ['a','b','c']을 아래와 같이 출력하세요.

a::b::c

In [10]:
list = ['a','b','c']

result = '::'.join(list)

print(result)

a::b::c

In [ ]:
# replace : 특정 문자(열)을 다른 문자(열)로 바꾸기

txt = 'My password is 1234'
ret1 = txt.replace('1','0')
ret2 = txt.replace('1', 'python')

print(ret1)
print(ret2)

txt = '매일 많은 일들이 일어납니다.'

ret3 = txt.replace("많은 일들이", "아침 일찍")
print(ret3)

My password is 0234
My password is python234
매일 아침 일찍 일어납니다.

In [ ]:
# Q . 입력한 문장에서 'bad'를 'good'으로 교체해서 출력하세요 (입력 예시: This is a bad example)

sentence = input("문장을 입력하세요 : ")
print(sentence.replace('bad' , 'good'))

문장을 입력하세요 : This is a bad example
This is a good example

In [ ]:
# 코드값에 대응하는 문자 얻기

val = int(input('문자 코드값을 입력하세요: '))
ch = chr(val)
print('코드값: %d  문자: %s' %(val , ch))

문자 코드값을 입력하세요: 65
코드값: 65  문자: A

In [ ]:
while True:
    val = int(input('문자 코드 값을 입력하세요 (0을 입력하면 종료)'))

    if val == 0:
        print("프로그램을 종료합니다")
        break

    val2 = chr(val)
    print(f'코드값 : {val} , 문자 : {val2} ')

문자 코드 값을 입력하세요 (0을 입력하면 종료)65
코드값 : 65 , 문자 : A
문자 코드 값을 입력하세요 (0을 입력하면 종료)65
코드값 : 65 , 문자 : A
문자 코드 값을 입력하세요 (0을 입력하면 종료)0
프로그램을 종료합니다

In [ ]:
# 문자열이 문자인지 검사

txt1 = 'A'
txt2 = '안녕'
txt3 = 'Warcraft Three'
txt4 = '3po'
ret1 = txt1.isalpha()
ret2 = txt2.isalpha()
ret3 = txt3.isalpha()
ret4 = txt4.isalpha()

print(ret1)
print(ret2)
print(ret3)
print(ret4)

True
True
False
False

In [ ]:
# isdigit() : 문자열이 숫자인지 검사

txt1 = '010-1234-5678'
txt2 = 'R2D2'
txt3 = '1212'

ret1 = txt1.isdigit()
ret2 = txt2.isdigit()
ret3 = txt3.isdigit()

print(ret1)
print(ret2)
print(ret3)

False
False
True

In [ ]:
# isalnum문자열이 문자 또는 숫자인지 검사 : 문자열이 영어, 한글 혹은 숫자로 되어있으면 참 리턴, 아니면 거짓 리턴

txt1 = '안녕하세요?'
txt2 = '1.Title-제목을 넣으세요'
txt3 = '3피오R2D2'

ret1 = txt1.isalnum()
ret2 = txt2.isalnum()
ret3 = txt3.isalnum()

print(ret1 , ret2 , ret3)

False False True

In [ ]:
txt = 'A lot of Things occur day.'
ret1 = txt.upper()
ret2 = txt.lower()
ret3 = txt.title()
ret4 = txt.capitalize() # 문자열의 첫번째 문자를 대문자, 나머지는 소문자로 변환

print(ret1)
print(ret2)
print(ret3)
print(ret4)

A LOT OF THINGS OCCUR DAY.
a lot of things occur day.
A Lot Of Things Occur Day.
A lot of things occur day.

In [ ]:
# Q . numbers 내부에 들어 있는 숫자가 몇번 등장하는지를 출력하는 코드를 작성하세요

numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]

count = {}
for i in numbers:
    if i in count:
        count[i] += 1
    else:
        count[i] = 1

print(count)

{3: 4, 6: 2, 5: 2, 8: 2, 2: 2, 9: 2, 7: 2, 4: 2}

Task3_0508. 다음을 수행하세요.
- 사용자로부터 문자열을 입력받습니다.
- 입력받은 문자열이 숫자로만 이루어져 있는지 확인합니다.
- 만약 숫자로만 이루어져 있다면, 그 숫자를 정수로 변환하여 100을 더한 결과를 출력합니다.
- 숫자가 아닌 문자가 포함되어 있다면, 사용자에게 숫자만 입력하라는 메시지를 출력합니다.
- 연산이 수행이 완료될 때까지 반복하고 수행이 완료되면 break 합니다.

In [19]:
while 1:
    string_number = input("문자열을 입력하세요")
    if string_number.isdigit():
        result = int(string_number) + 100
        print(result)
        break
    else:
        print("숫자만 입력해주세요")

문자열을 입력하세요hello
숫자만 입력해주세요
문자열을 입력하세요123
223

In [17]:
while True:
    user_input = input("문자열을 입력하세요: ")

    # 입력된 문자열이 숫자로만 이루어져 있는지 확인
    if user_input.isdigit():
        # 숫자로만 이루어져 있으면 정수로 변환하여 100을 더한 결과 출력
        result = int(user_input) + 100
        print("결과:", result)
        break
    else:
        # 숫자가 아닌 문자가 포함되어 있으면 메시지 출력 후 반복
        print("숫자만 입력하세요.")

문자열을 입력하세요: 100
결과: 200

Task4_0508. 문자와 숫자로만 구성된 아이디만 유효한 규칙을 만들려고 한다. 아래 사항을 참조하여 프로그램을 작성하세요.
- 사용자로부터 문자열을 입력받습니다.
- 입력받은 문자열이 알파벳과 숫자로만 이루어져 있는지 확인합니다.
- 만약 조건을 만족한다면 "유효한 아이디입니다"라고 출력합니다.
- 그렇지 않다면, "아이디는 알파벳과 숫자만 포함할 수 있습니다"라고 메시지를 출력하고 다시 입력하도록 한다

In [23]:
while 1:
    string_number = input("문자열을 입력해 주세요")
    if string_number.isalnum():
        print("유효한 아이디입니다.")
        break
    else:
        print("아이디는 알파벳과 숫자만 포함할수 있습니다")

문자열을 입력해 주세요안녕 !
아이디는 알파벳과 숫자만 포함할수 있습니다
문자열을 입력해 주세요안녕abc
유효한 아이디입니다.

Task5_0508. 코딩을 한줄로 작성해서 동일한 결과를 출력하세요.

In [ ]:
list = []
for i in range(0,20,2): # 0부터 19까지 2씩 간격
     list.append(i*i)
print(list)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [24]:
print([i*i for i in range(0,20,2)])

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [ ]:
# list a의 모든 원소를 실수형으로 바꾸어 출력하세요
a = [1,2,3,4,5]

a_float = list(map(float, a))

print(a_float)

[1.0, 2.0, 3.0, 4.0, 5.0]

In [ ]:
# Q . 데이터를 입력하지 않으면 종료되는 코딩을 수행하세요. 단 반복적으로 작업을 수행할 수 있음

while 1:
    a = input("데이터 입력: ")
    if a == '':
        break
    else:
        print(a)

데이터 입력:

In [ ]:
while 1:
    data = input()
    if not data:
        break
    print(data)

[ 날짜 함수 ]

날짜와 시간을 처리하기 위한 주요 라이브러리는 datetime입니다. 이 라이브러리는 날짜, 시간, 시간대와 관련된 다양한 클래스와 함수를 제공하며, 날짜와 시간 연산에 매우 유용
- datetime.date: 날짜(연, 월, 일)를 표현하는 클래스
    - today(): 오늘의 날짜를 반환
- datetime.time: 시간(시, 분, 초, 마이크로초)을 표현하는 클래스
- datetime.datetime: 날짜와 시간을 모두 포함하는 클래스
    - now(): 현재의 날짜와 시간을 반환
- datetime.timedelta: 두 날짜/시간 간의 차이를 표현하는 클래스
- datetime.tzinfo: 시간대 정보를 위한 기본 클래스

datetime 모듈의 날짜와 시간 객체들을 문자열 형식으로 포맷팅하거나 문자열로부터 날짜와 시간 객체를 생성하기 위해 사용하는 주요 메서드는 strftime()와 strptime()
- strftime() (String Format Time)
    - 날짜와 시간 객체를 문자열로 변환하는 데 사용
    - 사용자가 지정한 형식 문자열을 기반으로 날짜와 시간 정보를 문자열로 표현
- strptime() (String Parse Time)
    - 문자열을 날짜와 시간 객체로 변환하는 데 사용
    - 주어진 형식 문자열을 기반으로 문자열에서 날짜와 시간 정보를 파싱

In [ ]:
import datetime

# 현재 날짜와 시간 가져오기
now = datetime.datetime.now()
print(now)

# 오늘의 날짜만 가져오기
today = datetime.date.today()
print(today) # 예 : 2023-11-02

# 특정날짜와 시간을 직접 지정
d = datetime.datetime(2024, 5, 8 ,14 ,26 ,56)
print(d)

# 날짜 간의 차이 계산
delta = datetime.timedelta(days = 7)
new_date = today + delta # 오늘로 부터 7일 후의 날짜
print(new_date)

# 두 날짜간의 차이 계산
date1 = datetime.date(2023, 1, 1)
date2 = datetime.date(2023, 12,31)
diff = date2 - date1
print(diff.days)

2024-05-08 05:28:13.161100
2024-05-08
2024-05-08 14:26:56
2024-05-15
364

In [ ]:
import datetime
# 현재 날짜와 시간 가져오기
now = datetime.datetime.now()
print(now)
# 오늘의 날짜만 가져오기
today = datetime.date.today()
print(today)
# 특정 날짜와 시간을 직접 지정
d = datetime.datetime(2024,5,8,15,54,33)
print(d)
# 날짜 간의 차이 계산
delta = datetime.timedelta(days = 7)
new_date = today + delta
print(new_date)
# 두 날짜간의 차이 계산
date1 = datetime.date(2023,1,1)
date2 = datetime.date(2023,12,31)
diff = date2 - date1
print(diff.days)

2024-05-08 07:27:17.812968
2024-05-08
2024-05-08 15:54:33
2024-05-15
364

포맷 코드 표<BR>
포맷코드   설명   예<BR>
%a   요일 줄임말   Sun, Mon, ... Sat<BR>
%A   요일   Sunday, Monday, ..., Saturday<BR>
%w   요일을 숫자로 표시, 월요일일요일, 06   0, 1, ..., 6<BR>
%d   일   01, 02, ..., 31<BR>
%b   월 줄임말   Jan, Feb, ..., Dec<BR>
%B   월   January, February, …, December<BR>
%m   숫자 월   01, 02, ..., 12<BR>
%y   두 자릿수 연도   01, 02, ..., 99<BR>
%Y   네 자릿수 연도   0001, 0002, ..., 2017, 2018, 9999<BR>
%H   시간(24시간)   00, 01, ..., 23<BR>
%I   시간(12시간)   01, 02, ..., 12<BR>
%p   AM, PM   AM, PM<BR>
%M   분   00, 01, ..., 59<BR>
%S   초   00, 01, ..., 59<BR>
%Z   시간대   대한민국 표준시<BR>
%j   1월 1일부터 경과한 일수   001, 002, ..., 366<BR>
%U   1년중 주차, 월요일이 한 주의 시작으로   00, 01, ..., 53<BR>
%W   1년중 주차, 월요일이 한 주의 시작으로   00, 01, ..., 53<BR>
%c   날짜, 요일, 시간을 출력, 현재 시간대 기준   Sat May 19 11:14:27 2018<BR>
%x   날짜를 출력, 현재 시간대 기준   05/19/18<BR>
%X   시간을 출력, 현재 시간대 기준   '11:44:22'

In [ ]:
import datetime

now = datetime.datetime.now()
print(now, type(now))

formatted = now.strftime("%Y-%m-%d %H:%M:%S")
print(formatted, type(formatted))

2024-05-08 05:52:44.667272 <class 'datetime.datetime'>
2024-05-08 05:52:44 <class 'str'>

In [ ]:
import datetime

date_string = "2023-11-02 14:45:30"
print(date_string, type(date_string))
dt = datetime.datetime.strptime(date_string, "%Y-%m-%d %H:%M:%S")
print(dt , type(dt))

2023-11-02 14:45:30 <class 'str'>
2023-11-02 14:45:30 <class 'datetime.datetime'>

time 모듈
- 시스템 시간에 접근하거나 간단한 타이머 기능을 구현
- 함수와 같이 프로그램을 일정 시간 동안 중지시키는 데 사용
- 시간을 연도, 월, 일, 시, 분, 초 등의 구성 요소로 변환하고 다룰 수 있는 struct_time 객체를 제공
- time 모듈은 날짜와 시간을 처리하는 다양한 프로그래밍 요구에 대응할 수 있는 기본적인 기능을 제공하지만, 더 복잡한 날짜 시간 처리나 시간대 변환 등은 datetime 모듈 또는 외부 라이브러리를 사용

In [ ]:
# localtime() 함수는 파이썬의 time 모듈에 포함되어 있으며 , 이 함수는 초로 표시되는 시간을 구조화된 시간 튜플 형태

import time
local_time = time.localtime()
print(local_time)

time.struct_time(tm_year=2024, tm_mon=5, tm_mday=8, tm_hour=5, tm_min=45, tm_sec=5, tm_wday=2, tm_yday=129, tm_isdst=0)

In [ ]:
# 현재 시간을 1970년 1월 1일 0시 0분 0초 (유닉스 시간의 시작)부터 현재까지의 초 (second)로 표현한 값을 반환

import time
time.time()

1715147305.1177135

In [ ]:
# 초로 표현된 시간을 구조화된 시간 튜플 형태로 반환

t = time.time()
time.localtime(t)

time.struct_time(tm_year=2024, tm_mon=5, tm_mday=8, tm_hour=5, tm_min=50, tm_sec=32, tm_wday=2, tm_yday=129, tm_isdst=0)

In [ ]:
# strftime 함수는 시간에 관계된 것을 세밀하게 표현할 수 있는 여러가지 포멧 코드 제공
# time.localtime() 함수는 초로 표현된 시간을 구조화된 시간 튜플 형태로 변환

import time

d = time.strftime('%d', time.localtime(time.time()))
m = time.strftime('%m', time.localtime(time.time()))
y = time.strftime('%Y', time.localtime(time.time()))
a = time.strftime('%a', time.localtime(time.time()))

print(d)
print(m)
print(y)
print(a)

08
05
2024
Wed

In [ ]:
# Q . 1609160537.371015 를 "Sat Jun 26 08:35:03 2021" 포멧으로 출력하세요

import datetime

t = time.localtime(1609160537.371015)

local_time = time.strftime('%a %b %d %H:%M:%S %Y' , t)
print(local_time)

Mon Dec 28 13:02:17 2020

In [ ]:
import time
current_time = time.localtime(1609160537.371015)
print(current_time)
# struct_time 객체를 인간이 읽을 수 있는 형태로 변환됩니다
readable_time = time.asctime(current_time)
print(readable_time)

time.struct_time(tm_year=2020, tm_mon=12, tm_mday=28, tm_hour=13, tm_min=2, tm_sec=17, tm_wday=0, tm_yday=363, tm_isdst=0)
Mon Dec 28 13:02:17 2020

In [ ]:
# timestamp -> str

import time
t = time.time()
print(t, type(t))
s = str(t)
print(s, type(s))

1715149289.5766945 <class 'float'>
1715149289.5766945 <class 'str'>

In [ ]:
# timestamp -> datetime
import time
from datetime import datetime
t = time.time()
print(t, type(t))
d = datetime.fromtimestamp(t)
print(d , type(d))

1715149681.6364274 <class 'float'>
2024-05-08 06:28:01.636427 <class 'datetime.datetime'>

Task6_0508. 유닉스 타임스탬프를 받아서 해당 시간을 datetime.datetime 객체로 변환하고, 그 결과를 출력하는 사용자 함수를 작성하여 임의의 타임스탬프를 입력하여 결과를 출력하세요.

In [ ]:
# datetime -> str

from datetime import datetime

s = datetime.now()
print(s, type(s))

s1 = s.strftime("%Y-%m-%d %H:%M:%S")
print(s1 , type(s1))

2024-05-08 06:32:47.191872 <class 'datetime.datetime'>
2024-05-08 06:32:47 <class 'str'>

Task7_0508. datetime 객체를 문자열로 변환하는 사용자 함수를 작성하여 datetime 객체를 "YYYY-MM-DD HH:MM:SS" 형식의 문자열로 변환하고 출력하세요.

In [ ]:
# timestamp -> datetime -> str
# Q . 현재 시간을 년-월-일 시:분:초 로 출력하세요

import time
from datetime import datetime
t = time.time()
d = datetime.fromtimestamp(t) # timestamp -> datetime
s = d.strftime('%Y-%m-%d %X') # datetime -> str , %X 시간을 출력, 현재 시간대 기준 '11:44:22'
s

'2024-05-08 06:37:06'

In [ ]:
# str -> datetime

from datetime import datetime
s = '2021-07-20 11:13:58'
print(s , type(s))

d = datetime.strptime(s, "%Y-%m-%d %H:%M:%S")
print(d , type(d))

2021-07-20 11:13:58 <class 'str'>
2021-07-20 11:13:58 <class 'datetime.datetime'>

In [ ]:
# datetime -> timestamp

d = datetime.today()
print(d , type(d))
timestamp = time.mktime(d.timetuple())
print(timestamp , type(timestamp))

AttributeError: module 'datetime' has no attribute 'today'

In [ ]:
# str -> datrtime -> timestamp

s = '2021-07-20 11:13:58'

timestamp = time.mktime(datetime.strptime(s,"%Y-%m-%d %H:%M:%S").timetuple())
print(timestamp , type(timestamp))

NameError: name 'time' is not defined

Task8_0508. 올해 경과된 날짜수 계산하세요.

In [43]:
import datetime

date1 = datetime.date(2024,1,1)
date2 = datetime.date(2024,5,8)
diff = date2 - date1
print("올해 경과된 날짜 수 :",diff.days,"일")

올해 경과된 날짜 수 : 128 일

Task9_0508. 현재 요일을 "2021-6-26 오늘은 토요일입니다."와 같은 형식으로 출력하세요.

In [ ]:
import datetime

now = datetime.datetime.now()
#print(now , type(now))

formatted = now.strftime("%Y-%m-%d 오늘은 %A 입니다")
print(formatted)

2024-05-08 오늘은 Wednesday 입니다

In [56]:
import datetime

now = datetime.datetime.now()
print(now)

formatted = now.strftime("%Y-%m-%d 오늘은 %A입니다")
print(formatted)

2024-05-08 14:04:29.558540
2024-05-08 오늘은 Wednesday입니다

Task10_0508. 1에서 백만까지 더하는데 걸리는 프로그램 실행 시간을 밀리초(ms) 단위로 구하세요.(1ms=0.001초)